.section-unisquare, .section-publications {
	float: left;
}
.section-unisquare {
	margin: 0 10px 0 0 !important;
	padding: 10px !important;
	width: 300px !important;
	height: 250px !important;
	border: 1px solid #fff;
	background: none #fefefe;
	box-shadow: 0px 5px 5px -5px #ccc
}
.section-publications {
	margin: 0 0 0 10px !important;
	min-height: 340px;
	width: -webkit-calc(100% - 340px) !important;
	width: -o-calc(100% - 340px) !important;
	width: -moz-calc(100% - 340px) !important;
	width: calc(100% - 340px) !important;
}

.publication {
	position: relative;
	margin: 0 15px 15px 0;
	width: 95px;
	height: 117px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	display: table;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.publication.new {
	border: 1px dashed #eee;
}

.publication p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.publication .publication-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.publication:hover .publication-options-show, .publication .publication-options-show.active {
	background-color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.publication .publication-options-show .arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.publication input {
	margin-top: 30px !important;
}

.publication-options {
	position: absolute;
	top: 20px;
	right: 0;
	background: none #fff;
	width: 250px;
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	border: 1px solid #eee;
}
.publication-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.publication-options-hide {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.publication-options-menupoint {
	cursor: pointer;
	margin: 2px -10px;
	padding: 5px 15px;
	text-transform: capitalize;
}
.publication-options-menupoint:hover {
	background: none #ffffcc;
}
.publication-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.publication-options-dates div {
	font-size: 10px;
	width: 40%;
	float: left;
}
.publication-options-dates div.dates {
	color: #ccc;
	font-size: 10px;
	width: 60%;
	text-align: right;
}
.publication-archived {
	opacity: 0.5;
}

.filter-sort, .filter-search {
	position: relative;
}
.filter-sort {

}
.filter-search {

}

textarea#rename {
	width: 90%;
	margin-top: 37px;
	height: 100%;
	border: 1px solid #ffff99;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.registration {
	background-color: #c6c6c6;
	position: fixed;
	width: 100%;
	padding-top: 20px;
	z-index: 10;
	text-align: center;
	box-shadow: 0 8px 50px -6px rgba(255,245,108,0.5);
	bottom: 0;
	padding-bottom: 20px;
}
.green {
	background-color: #5cb85c;
}
.registration-form {
	float: left;
}
.registration-form input {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: none;
	background: #f6f6f6;
	font-size: 15px;
	width: 250px;
	height: 32px;
	padding: 0 0 0 15px;
	margin: 0 5px 0 0;
	color: #818285;
	font-family: 'Roboto', sans-serif;
}
.registration-form input.has-error {
	border: 1px solid #b94a48;
}
.registration-text {
	color: #000;
	opacity: 0.6;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	width: 400px;
	text-align: left;
	font-weight: 900;
}
.registration-text.validate {
	color: #fff;
	text-align: center;
	float: none;
	width: auto;
	opacity: 1;
}
.button.registration-button {
	font-size: 15px;
}
.registration-button {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: none;
	background: #fff265;
	color: #231f20;
	font-size: 20px;
	font-weight: bold;
	width: 120px;
	height: 33px;
	cursor: pointer;
	margin: 0 0 0 5px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.error-boxes {
	position: fixed;
	margin-left: 425px;
	margin-bottom: -90px;
	margin-top: -40px;
}
.arrow-box {
	position: fixed;
	background: #FF0500;
	border: 2px solid #fff;
	padding-top: 5px;
	height: 32px;
	width: 200px;
	color: #fff;
}
.arrow-box.second {
	margin-left: 259px;
}
.arrow-box.third {
	margin-left: 518px;
}
.arrow-box:after, .arrow-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:after {
	border-color: rgba(213, 0, 0, 0);
	border-top-color: #FF0500;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #fff;
	border-width: 13px;
	margin-left: -13px;
}
