.section-unisquare, .section-projects {
	float: left;
}
.section-unisquare {
	position: relative;
	margin: 0 10px 0 0 !important;
	padding: 10px !important;
	width: 300px !important;
	height: 300px !important;
	border: 2px solid #fff;
	background: none #c6c6c6;
	box-shadow: 0px 5px 5px -5px #ccc;

	background-image: -webkit-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* WebKit */
	background-image: -moz-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* Firefox */
	background-image: -ms-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* IE10+ */
	background-image: -o-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* Opera */
	background-image: radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%);
}
.section-unisquare.white-bg {
	background-color: #fff;
}
.section-projects {
	margin: 0 0 0 10px !important;
	min-height: 340px;
	width: -webkit-calc(100% - 340px) !important;
	width: -o-calc(100% - 340px) !important;
	width: -moz-calc(100% - 340px) !important;
	width: calc(100% - 340px) !important;
}

.project {
	position: relative;
	margin: 0 15px 15px 0;
	width: 88px;
	height: 142px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	display: table;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.project.new {
	border: 1px dashed #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.project p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.project .project-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 6px;
	cursor: pointer;
	z-index: 15;
}
.project .project-options-show.open {
	padding: 5px;
	background: #fff;
	border: 1px solid #000;
	border-bottom: #fff;
}

.project .project-options-show .arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}

.project input {
	margin-top: 30px !important;
}

.project-options {
	position: absolute;
	top: 20px;
	right: 5px;
	background: none #fff;
	z-index: 10;
	border: 1px solid #000;
}
.project-options-hide {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:-1;
}
.project-options-menupoint {
	cursor: pointer;
	padding: 6px;
	text-transform: capitalize;
}
.project-options-menupoint:hover {
	background: none #ffffcc;
}
.project-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.project-options-dates div {
	font-size: 10px;
	width: 40%;
	float: left;
}
.project-options-dates div.dates {
	color: #ccc;
	font-size: 10px;
	width: 60%;
	text-align: right;
}
.project-archived {
	opacity: 0.5;
}
.project-link {
	display: block;
	padding-top: 60px;
	height: 140px;
}

.filter-sort, .filter-search {
	position: relative;
}
.filter-sort {

}
.filter-search {

}

textarea#rename {
	width: 90%;
	margin-top: 37px;
	height: 100%;
	border: 1px solid #ffff99;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.frontpage-link {
	color: #fff;
}
.frontpage-link p {
	float: left;
	padding-left: 5px;
	margin-top: 0;
}
.frontpage-link:hover .arrow-left {
	border-right: 6px solid #666;
}
.arrow-left {
	float: left;
	width: 0;
	height: 0;
	margin-top: 2px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
}
.logo-box {
	text-align: center;
	padding-top: 70px;
}
.logo {
	width: 30%;
}
.uni-bottom-box {
	height: 60px;
	background-color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
.user-box {
	padding-top: 6px;
	padding-left: 20px;
}
.user-image {
	float: left;
}
.user-text {
	float: left;
	width: 225px;
	color: #000;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 90%;
}
.user-name {
	height: 16px;
	overflow: hidden;
}
.user-name.settings {
	height: 100%;
}
.user-links a {
	cursor: pointer;
	text-decoration: underline;
}
.user-links a, span {
	font-size: 80%;
	color: #666;
}
.user-links a:hover {
	color: #000;
}
.user-settings .user-box {
	height: 115px;
	padding-left: 10px;
}
.settings-text {
	float: left;
	font-size: 120%;
	font-weight: 900;
	color: #000;
	opacity: 0.6;
	width: 160px;
	padding-top: 20px;
	padding-left: 15px;
}
hr {
	width: 92%;
	border: 0; border-top: 1px solid #fff265;
}
.user-settings-options {
	font-size: 90%;
	padding-left: 10px;
}
.user-settings-options .user-email input {
	width: auto;
	border: -moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	color: #818285;
	font-family: 'Roboto', sans-serif;
}
.user-settings-options .user-email input:disabled {
	background: #f6f6f6;
}
.user-settings-options a {
	font-size: 80%;
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}
.user-settings-options a:hover {
	color: #000;
}
.user-email {
	width: 266px;
	overflow: hidden;
}
.edit-password {
	padding-top: 5px;
	padding-left: 5px;
}
.edit-password form .button {
	margin-left: 7px;
}
.edit-password input {
	margin-bottom: 5px;
}
.edit-newsletter {
	padding-top: 5px;
}
.archived {
	background-color: #CFCFCF;
}
.archived a {
	color: #6B6B6B;
}

