.section-unisquare, .section-publications {
	float: left;
}
.section-unisquare {
	position: relative;
	margin: 0 10px 0 0 !important;
	padding: 10px !important;
	width: 300px !important;
	height: 300px !important;
	border: 2px solid #fff;
	background: none #c6c6c6;
	box-shadow: 0px 5px 5px -5px #ccc;

	background-image: -webkit-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* WebKit */
	background-image: -moz-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* Firefox */
	background-image: -ms-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* IE10+ */
	background-image: -o-radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%); /* Opera */
	background-image: radial-gradient(center center, circle contain, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.1) 100%);
}
.section-unisquare.white-bg {
	background-color: #fff;
}
.section-publications {
	margin: 0 0 0 10px !important;
	min-height: 340px;
	width: -webkit-calc(100% - 340px) !important;
	width: -o-calc(100% - 340px) !important;
	width: -moz-calc(100% - 340px) !important;
	width: calc(100% - 340px) !important;
}

.publication {
	position: relative;
	margin: 0 15px 15px 0;
	width: 88px;
	height: 142px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	display: table;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.publication.new {
	border: 1px dashed #eee;
}

.publication p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.publication .publication-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.publication:hover .publication-options-show, .publication .publication-options-show.active {
	background-color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.publication .publication-options-show .arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.publication input {
	margin-top: 30px !important;
}

.publication-options {
	position: absolute;
	top: 20px;
	right: 0;
	background: none #fff;
	width: 250px;
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	border: 1px solid #eee;
}
.publication-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.publication-options-hide {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.publication-options-menupoint {
	cursor: pointer;
	margin: 2px -10px;
	padding: 5px 15px;
	text-transform: capitalize;
}
.publication-options-menupoint:hover {
	background: none #ffffcc;
}
.publication-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.publication-options-dates div {
	font-size: 10px;
	width: 40%;
	float: left;
}
.publication-options-dates div.dates {
	color: #ccc;
	font-size: 10px;
	width: 60%;
	text-align: right;
}
.publication-archived {
	opacity: 0.5;
}

.filter-sort, .filter-search {
	position: relative;
}
.filter-sort {

}
.filter-search {

}

textarea#rename {
	width: 90%;
	margin-top: 37px;
	height: 100%;
	border: 1px solid #ffff99;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.frontpage-link {
	color: #fff;
}
.frontpage-link p {
	float: left;
	padding-left: 5px;
	margin-top: 0;
}
.frontpage-link:hover .arrow-left {
	border-right: 6px solid #666;
}
.arrow-left {
	float: left;
	width: 0;
	height: 0;
	margin-top: 2px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
}
.logo-box {
	text-align: center;
	padding-top: 70px;
}
.logo {
	width: 30%;
}
.uni-bottom-box {
	height: 60px;
	background-color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
.user-box {
	padding-top: 6px;
	padding-left: 20px;
}
.user-image {
	float: left;
}
.user-text {
	float: left;
	width: 225px;
	color: #000;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 90%;
}
.user-name {
	height: 16px;
	overflow: hidden;
}
.user-name.settings {
	height: 100%;
}
.user-links a {
	cursor: pointer;
	text-decoration: underline;
}
.user-links a, span {
	font-size: 80%;
	color: #666;
}
.user-links a:hover {
	color: #000;
}
.user-settings .user-box {
	height: 130px;
	padding-left: 10px;
}
.settings-text {
	float: left;
	font-size: 120%;
	font-weight: 900;
	color: #000;
	opacity: 0.6;
	width: 160px;
	padding-top: 20px;
	padding-left: 15px;
}
hr {
	width: 92%;
	border: 0; border-top: 1px solid #fff265;
}
