body {
	background-color: #D1D2D4 !important;
}
.menu-left, .menu-right {
	z-index: 1;
	position: fixed;
	top: 0;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.menu-left {
	background-color: #F2F3F4;
	height: 100%;
	min-height: 100%;
	left: 0;
	margin: 0 0 0 -260px;
	width: 260px;
}
.menu-right {
	right: 0;
	margin: 0 -200px 0 0;
}
.menu-left.open {
	margin-left: 50px !important;
}
.menu-right.open {
	margin: 0 !important;
}

.menu-left-tabs {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 50px;
	min-height: 100%; /* Minimum height for modern browsers */
	height:100%; /* Minimum height for IE */
	background: #fff265;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.menu-left-tab {
	font-size: 130%;
	cursor: pointer;
	padding: 10px;
	height: calc(100% / 3);
	min-height: 178px;
}
.menu-item-left {
	opacity:1;
}
.menu-item-left.ng-hide {
	opacity: 0;
}
.content.ng-hide-add,
.content.ng-hide-remove {
	display:block!important;
}

.menu-content {
	overflow: hidden;
}
.menu-left .content, .menu-right .content {
	overflow-y: auto;
	float: left;
}
.menu-left .content {
	height: 100%;
	min-height: 100%;
	padding-left: 20px;
	padding-top: 20px;
}
.menu-right .content {
	width: 200px;
}
.menu-left .content-icon, .menu-right .content-icon {
	background: #fff;
	width: 42px;
	height: 42px;
	padding: 10px 0 0 12px;
	font-size: 20px;
	float: left;
	cursor: pointer;
}
.menu-left-options {
	background-color: #F2F3F4;
	height: 100px;
	width: inherit;
	position: absolute;
	border: 2px solid #666;
	bottom: 0;
	z-index: 1;
	margin-bottom: -100px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.menu-left-options.open {
	margin-bottom: 23px !important;
}
.documents-options-bottom-buttons {
	background-color: #231F20;
	height: 25px;
	width: inherit;
	position: absolute;
	z-index: 2;
	bottom: 0;
}
.documents-options-bottom-buttons a {
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 25px;
	text-decoration: underline;
}
.documents-options-bottom-buttons a:hover {
	color: #999;
}

.container {
	padding: 40px;
}

.editor {
	background: #fff;
	position: relative;
	margin: 0 auto;
	width: 800px;
}
.menu-left ul li div .document {
	padding: 0;
}
.projectDocuments {
	padding-left: 0px;
	margin-top: 0;
}
.projectDocument {
	position: relative;
	margin: 0 15px 15px 0;
	width: 59px;
	height: 95px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
	cursor: pointer;
}
.projectDocument.new {
	padding-top: 20px;
	border: 1px dashed #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.projectDocument p {
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.projectDocument .projectDocument-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.projectDocument:hover .projectDocument-options-show, .projectDocument .projectDocument-options-show.active {
	background-color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.projectDocument .projectDocument-options-show .arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}
.projectDocument-options {
	position: absolute;
	top: 20px;
	right: 0;
	background: none #fff;
	width: 90px;
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	border: 1px solid #eee;
}
.projectDocument-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.projectDocument-options-hide {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.projectDocument-options-menupoint {
	cursor: pointer;
	margin: 2px -10px;
	padding: 5px 15px;
	text-transform: capitalize;
}
.projectDocument-options-menupoint.first {
	margin-top: 10px;
}
.projectDocument-options-menupoint:hover {
	background: none #ffffcc;
}
.projectDocument-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.projectDocument-archived {
	opacity: 0.5;
}
textarea#renameProjectDocument {
	width: 90%;
	height: auto;
	border: 1px solid #ffff99;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 3px 20px -6px black;
}
.center {
	height: 30%;
	min-height: 30%;
}
.projectDocument.over {
	opacity: .25;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
}
.projectDocument.moving {
	opacity: .25;
}
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
[draggable] * {
	-moz-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
}
