.menu-left, .menu-right {
	z-index: 1;
	position: fixed;
	top: 0;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	background-color: #F2F3F4;
	height: 100%;
	min-height: 100%;
	width: 260px;
}
.menu-left {
	left: -260px;
}
.menu-right {
	right: -260px;
}

.menu-left .top, .menu-right .top {
	height: 25px;
	background-color: #000;
	color: #fff;
	text-align: center;
	width: 100%;
	line-height: 23px;
}
.menu-left.open {
	left: 50px;
}
.menu-right.open {
	right: 50px;
}

.menu-left-tabs, .menu-right-tabs {
	z-index: 2;
	position: fixed;
	top: 0;
	margin: auto;
	width: 50px;
	min-height: 100%; /* Minimum height for modern browsers */
	height:100%; /* Minimum height for IE */
	background: #fff265;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.menu-left-tabs {
	left: 0;
}
.menu-right-tabs {
	right: 0;
}

.menu-left-tab, .menu-right-tab {
	font-size: 130%;
	cursor: pointer;
	height: calc(100% / 3);
	min-height: 178px;
	padding: 0;
}
.menu-left-tab {
	padding-left: 12px;
}
.menu-right-tab {
	padding-left: 14px
}

.menu-item-left.documents, .menu-item-left.inserts, .menu-item-right.inserts, .menu-item-right.output {
	padding: 10px 0 0 10px;
}
.menu-item-left, .menu-item-right {
	opacity:1;
}
.menu-item-left.ng-hide, .menu-item-right.ng-hide {
	opacity: 0;
}

.content.ng-hide-add,
.content.ng-hide-remove {
	display:block!important;
}

.menu-content {
	overflow: hidden;
}
.menu-left .content, .menu-right .content {
	overflow-y: auto;
	float: left;
}
.menu-left .content, .menu-right .content {
	width: 100%;
	height: 94%;
	min-height: 94%;
}

.menu-left .content-icon, .menu-right .content-icon {
	background: #fff;
	width: 42px;
	height: 42px;
	padding: 10px 0 0 12px;
	font-size: 20px;
	float: left;
	cursor: pointer;
}
.menu-left-options, .menu-right-options {
	padding: 10px;
	background-color: #fff;
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	margin-bottom: -150px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.menu-left-options.open, .menu-right-options.open {
	margin-bottom: 28px !important;
}

.documents-options-bottom-buttons, .stylesets-options-bottom-buttons {
	width: 100%;
	position: absolute;
	z-index: 2;
	bottom: 0;
}
.documents-options-bottom-buttons a, .stylesets-options-bottom-buttons a {
	float: left;
	padding: 5px;
	width: calc(100% / 3);;
	padding-left: 15px;
	display: block;
	text-decoration: underline;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border-right: 2px solid #fff;
}
.documents-options-bottom-buttons a.open, .stylesets-options-bottom-buttons a.open {
	background-color: #fff;
	color: #000;
}
.documents-options-bottom-buttons a.last {
	border: none;
}
.stylesets-options-bottom-buttons a {
	padding-left: 90px;
	border: none;
	width: 100%;
}
.documents-options-bottom-buttons a:hover, .stylesets-options-bottom-buttons a:hover {
	color: #999;
}

.container {
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
}

.editor {
	position: relative;
	margin: 0 auto;
	width: 800px;
}
.editor .toolbar-area {
}

.menu-left ul li div .document {
	padding: 0;
}
.projectDocuments {
	padding-left: 0px;
	margin-top: 0;
}
.projectDocument {
	position: relative;
	margin: 0 10px 10px 0;
	width: 72px;
	height: 95px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
	cursor: pointer;
}
.projectDocument-link {
	display: block;
	height: 80px;
}
.projectDocument.new {
	padding-top: 20px;
	border: 1px dashed #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.projectDocument p {
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
[selected] {
	background-color: #d3d3d3 !important;
}
[selected] a, [selected] span, [selected] ul, [selected] .style-copy-options li {
	background-color: #d3d3d3 !important;
	/* color: #fff265 !important; */
}


.projectDocument .projectDocument-options-show, .styleset-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.style-options-show {
	position: absolute;
	right: 5px;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
}
.projectDocument:hover .projectDocument-options-show, .projectDocument .projectDocument-options-show.active {
	background-color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}
.styleset-options-show .arrow {
	border-top: 5px solid #000;
}
.projectDocument-options, .styleset-options, .style-options {
	position: absolute;
	top: 20px;
	right: 0;
	background: none #fff;
	width: 90px;
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	border: 1px solid #eee;
}
.styleset-options {
	width: 170px;
	padding: 5px;
}
.style-options {
	top: inherit;
}
.projectDocument-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.projectDocument-options-hide, .styleset-options-hide, .style-options-hide {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.projectDocument-options-menupoint, .styleset-options-menupoint, .style-options-menupoint {
	cursor: pointer;
	margin: 2px -10px;
	padding: 5px 15px;
	text-transform: capitalize;
}
.projectDocument-options-menupoint.first, .styleset-options-menupoint.first, .style-options-menupoint.first {
	margin-top: 10px;
}
.projectDocument-options-menupoint:hover {
	background: none #ffffcc;
}
.projectDocument-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.projectDocument-archived {
	opacity: 0.5;
}
textarea#renameProjectDocument, textarea#renameStyleset, textarea#renameStyle {
	width: 90%;
	height: auto;
	border: 1px solid #ffff99;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 3px 20px -6px black;
}
.center {
	height: 30%;
	min-height: 30%;
}
.projectDocument.over {
	opacity: .25;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
}
.projectDocument.moving {
	opacity: .25;
}
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
[draggable] * {
	-moz-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
}

.upload-box {
	background: #F8F8F8;
	border: 3px dashed #DDD;
	width: inherit;
	height: 50px;
	text-align: center;
	padding-top: 12px;
}
.upload-box.dragover {
	border: 3px dashed #fff265;
}
.options-bottom-box p {
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 90%;
}
.selectedTab {
	background-color: #f3f3f3;
}
.typo {
	background-color: #fff;
	margin: 10px;
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
}
.typo.new {
	border: 2px dashed #c6c6c6;
	text-align: center;
}
.typo.open {
	background-color: #f3f3f3;
}
ul, li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
li.typo p {
	padding-left: 10px;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid #000;
}
li.typo p:first-child {
	border: none;
}
.typo-children li {
	background-color: #fff;
	border: 1px solid #c6c6c6;
	padding: 10px 0 10px 10px;
}

.style.new {
	height: 40px;
	text-align: center;
}
.style.new p {
	padding: 0;
	margin-left: -10px;
}
.style-isblock {
	position: absolute;
	right: 30px;
	color: #fff;
	font-size: 80%;
}
.style-height {
	height: 60px;
	overflow: hidden;
	padding: 8px;
}
.style-copy-options ul {
	list-style: none;
}
.style-copy-options li {
	display: block;
	border: none !important;
	padding: 2px 0 2px 0;
	text-decoration: underline;
}
.style-copy-options li a:hover {
	color: #fff !important;
}

.cke_floatingtools {
	position: fixed;
	z-index: 1;
	left: 50px;
	bottom: -210px;
	width: 259px;
	padding: 5px 0 0 6px;
	border: 1px solid #b1b1b1;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.left-menu-divider, .right-menu-divider {
	display: block;
	clear: left;
	border-bottom: 1px solid #efefef;
	margin-bottom: 8px;
	padding-top: 8px;
}
.left-menu-options {
	display: block;
	text-align: center;
}
.left-menu-options-parameters div {
	display: none;
}
.left-menu-options-parameters div.expanded {
	display: block;
}
.left-menu-icons, .right-menu-icons {
	display: block;
	text-align: center;
}
.left-menu-button, .right-menu-button {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 5px 0;
	border: 1px solid #fff56c;
	cursor: default;
	text-align: center;
	cursor: pointer;
}
.left-menu-box {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #efefef;
	cursor: default;
	text-align: left;
	cursor: pointer;
}
.left-menu-parameter-margin {
	margin-top: 10px;
}

.left-menu-box.label {
	position: relative;
	display: block;
	border: 0;
	padding: 5px 0;
}

.left-menu-box.inputfield {
	position: relative;
	width: calc(100% - 36px);
	padding: 0;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.left-menu-box.inputfield.full-size {
	position: relative;
	width: 100%;
	height: 30px;
	padding: 0;
}
.left-menu-box.inputfield.full-size-text {
	position: relative;
	width: 100%;
	height: 64px;
	padding: 0;
}
.left-menu-box.inputfield.text-saved {
	border-color: yellow;
	height: 56px;
}
.left-menu-box.inputfield.full-size-text.text-saved {
	position: relative;
	width: 100%;
	height: 92px;
	padding: 0;
}
.left-menu-box .statusfield {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	width: auto;
	height: 28px;
	color: black;
	padding: 5px;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.left-menu-box .statusfield.text-saved {
	background: none yellow;
	top: 28px;
}
.left-menu-box.inputfield.full-size-text .statusfield {
	top: 34px;
}
.left-menu-box.inputfield.full-size-text .statusfield.text-saved  {
	top: 62px;
}
.left-menu-box.inputfield input, .left-menu-box.inputfield select {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: none white;
	width: 100%;
	height: 28px;
	padding: 5px 10px;
}
.left-menu-box.inputfield textarea {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: none white;
	width: 100%;
	height: 60px;
	padding: 5px 10px;
}
.left-menu-box.inputfield input.show-info {
	padding-right: 30px;
	text-align: right;
}
.left-menu-box.inputfield .extra-info {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #ccc;
}
.left-menu-box.inputfield input:focus, .left-menu-box.inputfield textarea:focus {
	outline: none;
}
.left-menu-box .option {
	display: block;
}

.left-menu-close-item, .right-menu-close-item {
	color: #cc0000;
}

.insertOption {
	position: relative;
	margin: 0 10px 10px 0;
	padding: 16px 0 0 16px;
	width: 114px;
	height: 114px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
	cursor: pointer;
}
.insertOption.expanded {
	height: 124px;
	margin-bottom: 0;
	border-bottom: 0px;
	box-shadow: none;
	z-index: 2;
}
.insertOptionProperties {
	height: 0;
	overflow: hidden;
}
.insertOptionProperties.expanded {
	display: block;
	position: relative;
	margin: -1px 10px 10px 0;
	padding: 16px;
	width: 238px;
	height: auto;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.outputOptionProperties {
	display: block;
	position: relative;
	margin: 0px 10px 10px 0;
	padding: 16px;
	width: 238px;
	height: auto;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.archived {
    background-color: #CFCFCF;
}
.archived a {
    color: #6B6B6B;
}
