.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.text-decoration-bold {
	font-weight: bold;
}
.text-decoration-italic {
	font-style: italic;
}

.menu-left, .menu-right {
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: #f3f3f3;
	width: 260px;
	height: 100%;
	min-height: 100%;
	padding: 10px;
	transition: left 1s, right  1s;
	-moz-transition: left 1s, right  1s;
	-ms-transition: left 1s, right  1s;
	-webkit-transition: left 1s, right  1s;
	-o-transition: left 1s, right  1s;
}
.menu-left.bottom-menu-space {
	padding-bottom: 35px;
}
.menu-left.bottom-menu-space.open-small {
	padding-bottom: 76px;
}
.menu-left.bottom-menu-space.open-big {
	padding-bottom: 190px;
}
.menu-left {
	left: -260px;
	padding-right: 0;
}
.menu-right {
	right: -260px;
	padding-left: 0;
}

.menu-left.open {
	left: 50px;
}
.menu-right.open {
	right: 50px;
}

.menu-tabs {
	z-index: 2;
	position: absolute;
	top: 0;
	margin: auto;
	width: 50px;
	min-height: 100%; /* Minimum height for modern browsers */
	height:100%; /* Minimum height for IE */
	background: #fff265;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.menu-tabs.left {
	left: 0;
}
.menu-tabs.right {
	right: 0;
}

.menu-tab {
	cursor: pointer;
	height: calc(100% / 3);
	min-height: 150px;
	padding: 0;
	text-align: center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.menu-tab img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-item-left, .menu-item-right {
	opacity:1;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.menu-item-left.ng-hide, .menu-item-right.ng-hide {
	opacity: 0;
}

.content.ng-hide-add,
.content.ng-hide-remove {
	display:block!important;
}

.menu-options {
	padding: 10px;
	background-color: #fff;
	height: auto;
	width: 260px;
	position: absolute;
	left: 0;
	bottom: 28px;
}

.documents-options-bottom-buttons, .stylesets-options-bottom-buttons {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.documents-options-bottom-buttons a, .stylesets-options-bottom-buttons a {
	float: left;
	padding: 5px;
	width: calc(100% / 3);;
	padding-left: 15px;
	display: block;
	text-decoration: underline;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border-right: 2px solid #fff;
}
.documents-options-bottom-buttons a.open, .stylesets-options-bottom-buttons a.open {
	background-color: #fff;
	color: #000;
}
.documents-options-bottom-buttons a.last {
	border: none;
}
.stylesets-options-bottom-buttons a {
	padding-left: 90px;
	border: none;
	width: 100%;
}
.documents-options-bottom-buttons a:hover, .stylesets-options-bottom-buttons a:hover {
	color: #999;
}

.editor {
	position: relative;
	margin: 0 auto;
	min-width: 250px;
	max-width: 800px;
	width: calc(100% - 140px);
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.editor.content {
	height: calc(100% - 50px);
	overflow: hidden;
}
.editor.menu-extended {
	width: calc(100% - 640px);	
}

#cke_bodyeditor, .cke_inner, .cke_wysiwyg_frame {
	width: 100% !important;
	height: 100%;
}
/* This should with time be fixed in the menubar plugin or how it works in ckeditor, a lot of styles are set on the elements */
.cke_toolbox {
	margin: 0 auto !important;
	width: 225px !important;
	padding: 2px 0 0 !important;
	background: none !important;
}
.cke_toolgroup {
	margin: 0 2px 4px !important;
}
@media all and (min-width: 640px) {
	.cke_toolbox {
		width: 100% !important;
	}
}
@media all and (min-width: 1120px) {
	.cke_toolbox {
		width: 450px !important;
	}
}

.menu-left ul li div .document {
	padding: 0;
}
.projectDocuments {
	padding-left: 0px;
	margin-top: 0;
}
.projectDocument {
	position: relative;
	margin: 0 9px 9px 0;
	width: 66px;
	width: calc(33% - 10px);
	height: 95px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
	cursor: pointer;
}
.projectDocument-link {
	display: block;
	height: 80px;
}
.projectDocument.new {
	padding-top: 15px;
	border: 1px dashed #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.projectDocument p {
	height: 62px;
	margin: 25px 5px 5px;
	text-align: center;
	overflow: hidden;
}
.projectDocument.selected {
	border: 2px solid #000;
}

.projectdocument-options-show, .styleset-options-show, .style-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 6px;
	cursor: pointer;
	z-index: 15;
}
.projectdocument-options-show.open, .styleset-options-show.open, .style-options-show.open {
	padding: 5px;
	background: #fff;
	border: 1px solid #000;
	border-bottom: #fff;
	z-index: 16;
}
.style-options-show {
	z-index: 8;
}
.styleset-options-show.open {
	z-index: 16;
}
.style-options-show.open {
	z-index: 12;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}
.styleset-options-show .arrow {
	border-top: 5px solid #000;
}
.projectDocument-options, .styleset-options, .style-options {
	position: absolute;
	top: 20px;
	right: 5px;
	background: none #fff;
	z-index: 10;
	border: 1px solid #000;
}
.styleset-options {
	z-index: 14;
}
.projectDocument-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.projectDocument-options-menupoint, .styleset-options-menupoint, .style-options-menupoint {
	cursor: pointer;
	padding: 6px;
}
.projectDocument-options-menupoint:hover, .styleset-options-menupoint:hover, .style-options-menupoint:hover {
	background: none #ffffcc;
}
.projectDocument-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.projectDocument-archived {
	opacity: 0.5;
}
textarea.renameProjectDocument, textarea.renameStyleset, textarea.renameStyle {
	width: 100%;
	height: 64px;
	border: 1px solid #ffff99;
	padding: 5px;
	resize: none;
	outline: none;
	overflow: hidden;
}

.animate-enter, .animate-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 3px 20px -6px black;
}
.center {
	height: 30%;
	min-height: 30%;
}
.projectDocument.over {
	opacity: .25;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
}
.projectDocument.moving {
	opacity: .25;
}
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
[draggable] * {
	-moz-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
}

.upload-box {
	background: #F8F8F8;
	border: 3px dashed #DDD;
	width: inherit;
	height: 50px;
	text-align: center;
	padding-top: 12px;
}
.upload-box.dragover {
	border: 3px dashed #fff265;
}
.options-bottom-box p {
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 90%;
}
.selectedTab {
	background-color: #f3f3f3;
}
.typo {
	margin: 0 10px 10px 0;
	cursor: pointer;
	position: relative;
	overflow: visible;
}
.typo.new {
	border: 2px dashed #c6c6c6;
	text-align: center;
}
ul, li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
li.typo p {
	padding: 15px;
	margin: 0;
	border: 1px solid #000;
	background: none #fff;
}
li.typo p:first-child {
	border: none;
}
.typo-children-style {
	position: relative;
	background-color: #fff;
	border: 1px solid #c6c6c6;
	padding: 12px;
	width: 90%;
	margin: 0 auto;
}
.typo-children-style.selected {
	background-color: #c3c3c3;
}

.style.new {
	width: 90%;
	height: 40px;
	text-align: center;
	margin: 0 auto;
}
.style.new p {
	padding: 10px;
}

.style-isblock {
	position: relative;
	color: #eee;
	font-size: 80%;
}
.style-height {
	height: 40px;
	overflow: hidden;
}
li.typo .style-copy-options a {
	text-decoration: underline;
}
li.typo .style-copy-options a:hover {
	color: #fff;
}
li.typo .style-copy-options p {
	background: none;
	padding: 10px 0;
}

/* This really need to be changed, loading it as fixed position is not working with our other functionality */
.cke_floatingtools {
	position: fixed;
	z-index: 1;
	left: 50px;
	bottom: -275px;
	width: 260px;
	padding: 5px 0 0 6px;
	border: 1px solid #b1b1b1;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.left-menu-divider, .right-menu-divider {
	display: block;
	clear: left;
	border-bottom: 1px solid #efefef;
	margin-bottom: 8px;
	padding-top: 8px;
}
.menu-options {
	display: block;
	text-align: center;
}
.left-menu-options-parameters div {
	display: none;
}
.left-menu-options-parameters div.expanded {
	display: block;
}
.left-menu-icons, .right-menu-icons {
	display: block;
	text-align: center;
}
.left-menu-button, .right-menu-button {
	display: inline-block;
	width: 100%;
	padding: 5px;
	border: 1px solid #fff56c;
	text-align: center;
	cursor: pointer;
}
.right-menu-feature-title {
	display: block;
	font-weight: bold;
	line-height: 1.5em;
}
.right-menu-feature-text {
	display: block;
}
.menu-box {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #efefef;
	cursor: pointer;
}
.menu-box.center-text {
	text-align: center;
}
.left-menu-parameter-margin, .right-menu-parameter-margin {
	margin-top: 10px;
}

.menu-box.label {
	position: relative;
	display: block;
	border: 0;
	padding: 5px 0;
}

.menu-box.inputfield {
	position: relative;
	width: calc(100% - 36px);
	padding: 0;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
/*left*/
.menu-box.inputfield.full-size {
	position: relative;
	width: 100%;
	height: 32px;
	padding: 0;
}
.menu-box.inputfield.full-size-text {
	position: relative;
	width: 100%;
	height: 64px;
	padding: 0;
}
.menu-box.inputfield.text-saved {
	border-color: yellow;
	height: 56px;
}
.menu-box.inputfield.full-size-text.text-saved {
	position: relative;
	width: 100%;
	height: 92px;
	padding: 0;
}
.menu-box .statusfield {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	width: auto;
	height: 28px;
	color: black;
	padding: 5px;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.menu-box .statusfield.text-saved {
	background: none yellow;
	top: 28px;
}
.menu-box.inputfield.full-size-text .statusfield {
	top: 34px;
}
.menu-box.inputfield.full-size-text .statusfield.text-saved  {
	top: 62px;
}
.menu-box.inputfield input, .menu-box.inputfield select {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: none white;
	width: 100%;
	height: 28px;
	padding: 5px 10px;
}
.menu-box.inputfield textarea {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: none white;
	width: 100%;
	height: 60px;
	padding: 5px 10px;
}
.menu-box.inputfield input.show-info {
	padding-right: 30px;
	text-align: right;
}
.menu-box.inputfield .extra-info {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #ccc;
}
.menu-box.inputfield input:focus, .menu-box.inputfield textarea:focus {
	outline: none;
}
.menu-box .option {
	display: block;
}
.menu-box.left-menu-download {
	text-align: center;
}
.menu-box.left-menu-download .download-icon {
	width: 50px;
	height: auto;
	margin: 0 5px;
	cursor: pointer;
}

.insertOption {
	position: relative;
	padding: 16px 0 16px 16px;
	width: 110px;
	width: calc(50% - 10px);
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
	cursor: pointer;
}
.menu-left .insertOption {
	margin: 0 10px 10px 0;
}
.menu-right .insertOption {
	margin: 0 0 10px 10px;
}
.insertOption.expanded {
	height: 128px;
	margin-bottom: 0;
	border-bottom: 0;
	box-shadow: none;
	z-index: 2;
}
.insertOptionProperties {
	height: 0;
	overflow: hidden;
}
.insertOptionProperties.expanded {
	display: block;
	position: relative;
	padding: 16px;
	width: 230px;
	width: calc(100% - 10px);
	height: auto;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.menu-left .insertOptionProperties.expanded {
	margin: -1px 10px 10px 0;
}
.menu-right .insertOptionProperties.expanded {
	margin: -1px 0 10px 10px;
}
.outputOptionProperties {
	display: block;
	position: relative;
	margin: 0 0 0 10px;
	padding: 16px;
	background: none #fefefe;
	border: 1px solid #ffff99;
	box-shadow: 0px 5px 5px -5px #ccc;
}
.outputOptionDownload {
	margin: 10px 0 0 10px;
}

.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.archived {
    background-color: #CFCFCF;
}
.archived a {
    color: #6B6B6B;
}

.anchor-link{
	display: block
}

.left-menu-options .menu-box .anchor-name{
	width:100%;
}

#anchorInputBox{
	border: none;
	background: #fff;
}