<link rel="stylesheet" type="text/css" href="pages/css/pages/create.css" />

<div class="container">
	<div class="main">

		<section class="section-unisquare">
			<p> </p>


			<p class="filter-buttons"><span class="filter-sort-button" ng-click="toggleElement('filterFilter')">Sort by Filter</span> | <span class="search-sort-button" ng-click="toggleElement('filterSearch')">Sort by Search</span></p>
			<p class="filter-sort" ng-show="filterFilter">
				Filter by Sort:
				<span ng-click="publicationOrder = 'publicationCreated'; reverse=!reverse">time</span> |
				<span ng-click="publicationOrder = 'publicationName'; reverse=!reverse">titel</span> |
				<span ng-click="publicationOrder = 'publicationChanged'; reverse=!reverse">changed</span>
			</p>
			<p class="filter-search" ng-show="filterSearch">
				Filter by Search:
					<input type="text" ng-model="publicationSearch">
			</p>
		</section>

		<section class="section-publications" ng-controller="PublicationsCtrl">
			<div class="publication new" ng-click="addPublication(publication)">
 				<p>+</p>
 			</div>

			<div class="publication" ng-animate="'animate'" ng-hide="publication.archived" ng-repeat="publication in publications track by $index | orderBy:'order':reverse | filter:publicationSearch">
				<a class="publication-options-show" data-gui="{{publication._id}}" ng-click="showPublicationOptions = true;">
					<div class="arrow"></div>
				</a>
				<!--<p ng-hide="editingPublicationTitle" ng-click="editingPublicationTitle = true;">-->
				<p ng-hide="editingPublicationTitle">
					<a href="#/project?pid={{publication._id}}">{{publication.name}}</a>
				</p>

				<form ng-show="editingPublicationTitle">
				<p>
					<!--<input type="text" ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" />-->
					<textarea id="rename" ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" on-enter="editingPublicationTitle = false; renamePublication(publication);"></textarea>
				</p>
				</form>

				<div class="publication-options" ng-show="showPublicationOptions">
					<div class="publication-options-header">Publication Options</div>
					<div class="publication-options-hide" ng-click="showPublicationOptions = false;" title="Close Options">x</div>
					<div class="publication-options-menupoint" ng-click="editingPublicationTitle = true; showPublicationOptions = false;">rename</div>
					<div class="publication-options-menupoint" ng-click="copyPublication(publication); showPublicationOptions = false;">copy</div>
					<div class="publication-options-menupoint" ng-click="archivePublication(publication)">archive</div>
					<div class="publication-options-dates" ng-show="publication.created && publication.changed">
						<div>Created Date: </div><div class="dates">{{publication.created | date:'yyyy-MM-dd HH:mm'}}</div>
						<div>Last Changed: </div><div class="dates">{{publication.modified | date:'yyyy-MM-dd HH:mm'}}</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
