<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T9G76C"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T9G76C');</script>
<!-- End Google Tag Manager -->

<link rel="stylesheet" type="text/css" href="pages/css/pages/create.css" />
<link rel="stylesheet" type="text/css" href="pages/css/pages/sweetalert2.css" />

<div class="wrapper-create">
	 <!-- modal windows -->
	<div bn-modals ng-show="subview" class="m-modals" ng-switch="subview">
		<!-- BEGIN: Free / Premium Modal. -->
		<div ng-switch-when="upgrade" ng-controller="UpgradeModalController" class="modal">
			<div class="planChoice" id="freePlan">
				<h1>Free</h1>
				<p>{{ freeNumberOfEbooks }} ebook projects</p>
				<p>{{ freeNumberOfDesigns }} ebook design templates</p>
				<a class="modalButtons" id="useFree" ng-click="useFree()">{{ useFreeText }}</a>
			</div>
			<div class="planChoice" id="premiumPlan">
				<h1>Premium</h1>
				<p>{{ premiumNumberOfEbooks }} ebook projects</p>
				<p>{{ premiumNumberOfDesigns }} ebook design templates</p>
				<div id="price"><p>€{{ premiumMonthlyPrice }}<br><span>MONTH</span></p></div>
				<a class="modalButtons" id="usePremium" ng-click="usePremium()">{{ usePremiumText }}</a>
			</div>
		</div>
		<!-- END: Free / Premium Modal. -->

		<!-- BEGIN: Payment Modal. -->
		<div ng-switch-when="payment" ng-controller="PaymentModalController" class="modal">
			<div class="upgradePayment" id="upgradePayment">
				<form name="upgradePaymentForm" ng-submit="paymentUpgrade()" novalidate>
				<!-- <form name="upgradePaymentForm" ng-init="setFormScope(this)" ng-submit="paymentUpgrade()" novalidate> -->
					<h2>Upgrade to Premium</h2>
					<p class="no-top-margin"><em>Your card will be charged €14.00/month.</em></p>
					<hr>
					<img class="secure-image" src="pages/images/safe_payment.png" height="45" width="45">
					<span><p class="secure-text">SECURE PAYMENT<br><a href="">LEARN MORE</a></p></span>
					<br>
					<span><p class="top-text-card">Card number</p></span>
					<p class="card-number">
						<input class="inputCardNumber" id="paymentCardNumber" ng-model="payment.cardNumber" type="tel" placeholder="•••• •••• •••• ••••" autocompletetype="cc-number" required="required" />
					</p>
					<span>
						<div class="paymentAir" id="paymentAir">
							<p class="top-text-expires-cvc">Expires</p>
							<input class="inputExpiresCVC" id="paymentExpirationDate" ng-model="payment.expirationDate" type="tel" placeholder="MM / YY" autocompletetype="cc-exp" required="required" />
						</div>
						<div class="paymentAir" id="paymentAir">
							<p class="top-text-expires-cvc">CVC/CVV&emsp;<a href=""><img src="pages/images/questionmark_icon.png"></a></p>
							<input class="inputExpiresCVC" id="paymentCvv" ng-model="payment.cvv" type="tel" placeholder="CVC" autocompletetype="cc-cvc" required="required" />
						</div>
					</span>
					<p>
						<a class="paymentButtons" id="paymentUpgrade" ng-click="paymentUpgrade()">Upgrade</a>
						<a class="paymentButtons" id="paymentCancel" ng-click="paymentCancel()">Cancel</a>
					</p>
				</form>
			</div>
		</div>
		<!-- END: Free / Premium Modal. -->

	</div>

	<section class="section-unisquare" data-ng-class="{ 'white-bg' : showSettings}">
		<div data-ng-hide="showSettings">
			<div class="clearfix">
				<a href="http://{{frontpage}}" target="_self" class="frontpage-link">
					<span class="arrow-left"></span><span>Front page</span>
				</a>
			</div>
			<div class="logo-box">
				<img class="logo" src="/images/logo.png">
			</div>
			<div class="uni-bottom-box clearfix" data-ng-show="user._id && !user.isDemo">
				<img class="user-image" src="pages/images/profilepicture.png" height="50" width="50">
				<div class="user-text">
					<div class="user-name" data-ng-bind-html="user.firstname + ' ' + user.lastname"></div>
					<div class="user-links">
						<a data-ng-click="showSettings = !showSettings">Settings</a>
						<span>|</span>
						<a href="/logout">Log out</a>
					</div>
				</div>

			</div>
			<div class="upgrade-bottom-box clearfix" data-ng-class="{ 'upgrade-bottom-box-premium': user.level == 'premium' }" data-ng-show="user._id && !user.isDemo">
				<div class="upgrade-text">
					<!-- TODO: is there an easier way to conditionally apply the appropriate "upgrade-text" class? -->
					<span data-ng-bind-html="upgradeText[user.level]" data-ng-class="{ 'upgrade-text-free': user.level == 'free', 'upgrade-text-premium': user.level == 'premium' }"></span>
					<a id="upgradeButton" ng-click="upgrade()" ng-if="user.level == 'free'">Upgrade</a>
					<a id="upgradeButton" ng-click="upgrade()" ng-if="user.level != 'free' && !user.payment.cancelled">Change</a>
					<div ng-if="user.level != 'free' && user.payment.cancelled" class="upgrade-text-being-downgraded">Being downgraded...</div>
				</div>
			</div>
		</div>
		<div class="user-settings" data-ng-show="showSettings && !user.isDemo">
			<div class="clearfix">
					<img class="user-image" src="pages/images/profilepicture.png" height="100" width="100">
					<div class="settings-text">
						<div class="user-name settings" data-ng-bind-html="user.firstname"></div>
						<div class="user-name settings" data-ng-bind-html="user.lastname"></div>
					</div>
			</div>
			<hr>
			<div class="user-settings-options">
				<div class="user-email" data-ng-show="!editPassword">
					<form name="emailEditForm">
						<input name="editEmailInput" data-ng-class="{ 'has-error' : emailEditForm.editEmailInput.$invalid && saveSubmitted}" type="email" data-ng-model="user.email" data-ng-pattern="EMAIL_REGEXP" data-ng-disabled="!editEmail" focus-on="editEmail">
						<a data-ng-click="editEmail = !editEmail">Edit</a>
					</form>
				</div>
				<div class="edit-password">
					<a data-ng-click="editPassword = !editPassword" data-ng-show="!editPassword">Edit password</a>
					<form name="editPasswordForm" data-ng-submit="changePassword()" data-ng-show="editPassword" novalidate>
						<input type="password" id="current-password" name="currentPassword" data-ng-model="password" data-ng-class="{ 'has-error' : editPasswordForm.currentPassword.$invalid && passwordSubmitted }" placeholder="Current" data-ng-minlength="6" required>
						<input type="password" id="new-password" name="newPassword" data-ng-model="newPassword" data-ng-class="{ 'has-error' : editPasswordForm.newPassword.$invalid && passwordSubmitted }" placeholder="New" data-ng-minlength="6" required>
						<input type="password" id="new-retype-password" name="newPasswordRetype" data-ng-model="newPasswordRetype" data-ng-class="{ 'has-error' : editPasswordForm.newPasswordRetype.$invalid && passwordSubmitted }" placeholder="Retype New" data-ng-minlength="6" required>
						<button type="submit" class="button margin-top">Save Changes</button>
						<button data-ng-click="cancelUpdatePassword()" class="button secondary margin-top">Cancel</button>
					</form>
				</div>
				<div class="edit-newsletter" data-ng-show="!editPassword">
					<input type="checkbox" data-ng-model="user.newsletter">Receive newsletter
				</div>
				<div class="edit-archived" data-ng-show="!editPassword">
					<input type="checkbox" data-ng-model="user.showArchived">Show Archived
				</div>
				<button data-ng-click="updateUser()" class="button margin-top" data-ng-show="!editPassword">Save Changes</button>
				<button data-ng-click="cancelUpdateUser()" class="button secondary margin-top" data-ng-show="!editPassword">Cancel</button>
			</div>
		</div>
	</section>

	<section class="section-projects-container clearfix">
		<div class="projects-title">Ebooks</div>

		<div class="section-projects">
			<!-- TODO: insert real Upgrade link here when the Premium frontend has been implemented -->
			<div data-ng-class="getNewProjectClass()" data-ng-click="addProject();"></div>
			<div class="project clearfix" data-ng-animate="'animate'" data-ng-class="{ 'archived' : project.archived, 'downgraded' : !canLoadProject(project) }" data-ng-hide="project.archived && !user.showArchived" data-ng-repeat="project in projects track by $index" data-ng-mouseenter="showProjectTitle($index)" data-ng-mouseleave="hideProjectTitle()">
				<a data-ng-class="{ 'project-options-show' : canLoadProject(project)}" data-ng-class="{ 'open' : $index == selectedProjectOptions }" data-ng-click="showProjectOptions($index)">
					<div class="arrow"></div>
				</a>

				<div data-ng-hide="project.editingProjectTitle || (!canLoadProject(project) && $index == selectedProjectHover)" class="project-link" data-ng-class="{ 'show-all' : $index == selectedProjectHover && !project.editingProjectTitle && $index != selectedProjectOptions && !project.archived, 'downgraded' : !canLoadProject(project) }">
					<a data-ng-if="!project.archived && canLoadProject(project)" data-ng-href="#/project?pid={{project._id}}">
						{{project.name}}
					</a>
					<div data-ng-if="project.archived || !canLoadProject(project)">
						{{project.name}}
					</div>
				</div>
				<div class="project-link show-more" data-ng-class="{ 'project-link downgraded-helptext': !canLoadProject(project) }" data-ng-hide="$index == selectedProjectHover || project.editingProjectTitle || project.name.length < 29">
					(…)
				</div>

				<form name="project{{$index}}" class="projectTitleEditing" data-ng-show="project.editingProjectTitle">
					<textarea id="rename" name="projectTitleEdit" data-ng-model="project.name" placeholder="project title" focus-on="!!project.editingProjectTitle" blur-on-enter data-ng-focus="storeTitle(project)" data-ng-blur="project.editingProjectTitle = false; renameProject(project);" required></textarea>
					<div class="nameError" ng-show="project{{$index}}.projectTitleEdit.$error.required">The title is required!</div> 
				</form>

				<div data-ng-class="{ 'project-options' : canLoadProject(project)}" data-ng-show="$index == selectedProjectOptions">
					<div class="project-options-menupoint" data-ng-show="project.archived" data-ng-click="unarchiveProject(project); hideProjectOptions();">unarchive</div>
					<div class="project-options-menupoint" data-ng-hide="project.archived" data-ng-click="project.editingProjectTitle = true; hideProjectOptions();">rename</div>
					<div class="project-options-menupoint" data-ng-hide="project.archived" data-ng-click="archiveProject(project); hideProjectOptions();">archive</div>
					<div class="project-options-menupoint" data-ng-show="project.archived" data-ng-click="deleteProject(project, $index); hideProjectOptions();">delete</div>
				</div>
				<div class="project-link downgraded-helptext" data-ng-hide="canLoadProject(project) || $index != selectedProjectHover">
					Upgrade to Premium to unlock this book
				</div>
			</div>

			<div class="btn-top blog">
				<a target="_blank" href="http://blog.scripler.com/">Blog</a>
			</div>
			<div class="btn-top feedback">
				<a target="_blank" href="http://talk.scripler.com/">Talk!</a>
			</div>
		</div>
	</section>
</div>


