<link rel="stylesheet" type="text/css" href="pages/css/pages/create.css" />

<div class="container">
	<div class="main">

		<section class="section-unisquare" ng-class="{ 'white-bg' : showSettings}">
			<div ng-hide="showSettings">
				<div class="links">
					<a onclick="history.back(-1)" class="frontpage-link">
						<span class="arrow-left"></span><p>Frontpage</p>
					</a>
				</div>
				<div class="logo-box">
					<img class="logo" src="../images/logo.png">
				</div>
				<div class="uni-bottom-box" ng-show="user._id">
					<div class="user-box">
						<img class="user-image" src="http://placekitten.com/50/50">
						<div class="user-text">
							<div class="user-name" ng-bind-html="user.firstname + ' ' + user.lastname"></div>
							<div class="user-links">
								<a ng-click="showSettings = !showSettings">Settings</a>
								<span>|</span>
								<a href="/logout">Log out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-settings" ng-show="showSettings">
				<div class="user-box">
						<img class="user-image" src="http://placekitten.com/100/100">
						<div class="settings-text">
							<div class="user-name settings" ng-bind-html="user.firstname"></div>
							<div class="user-name settings" ng-bind-html="user.lastname"></div>
						</div>
				</div>
				<hr>
				<div class="user-settings-options">
					<div class="user-email" ng-show="!editPassword">
						<input size="{{user.email.length}}" type="email" ng-model="user.email" ng-disabled="!editEmail" focus-on="editEmail">
						<a ng-click="editEmail = !editEmail">Edit</a>
					</div>
					<div class="edit-password">
						<a ng-click="editPassword = !editPassword" ng-show="!editPassword">Edit password</a>
						<form name="editPasswordForm" ng-submit="changePassword()" ng-show="editPassword" novalidate>
							<input type="password" id="current-password" name="currentPassword" ng-model="password" ng-class="{ 'has-error' : editPasswordForm.currentPassword.$invalid && passwordSubmitted }" placeholder="Current" ng-minlength="6" required>
							<input type="password" id="new-password" name="newPassword" ng-model="newPassword" ng-class="{ 'has-error' : editPasswordForm.newPassword.$invalid && passwordSubmitted }" placeholder="New" ng-minlength="6" required>
							<input type="password" id="new-retype-password" name="newPasswordRetype" ng-model="newPasswordRetype" ng-class="{ 'has-error' : editPasswordForm.newPasswordRetype.$invalid && passwordSubmitted }" placeholder="Retype New" ng-minlength="6" required>
							<button type="submit" class="button">Save Changes</button>
						</form>
					</div>
					<div class="edit-newsletter" ng-show="!editPassword">
						<input type="checkbox" ng-model="user.newsletter">Receive newsletter
					</div>
					<div class="edit-archived" ng-show="!editPassword">
						<input type="checkbox" ng-model="user.showArchived">Show Archived
					</div>
				</div>
			</div>
		</section>

		<section class="section-publications" ng-controller="PublicationsCtrl">
			<div class="publication new" ng-click="addPublication(publication)">
				<p>+</p>
			</div>

			<div class="publication" ng-animate="'animate'" ng-hide="publication.archived" ng-repeat="publication in publications track by $index | orderBy:'order':reverse | filter:publicationSearch">
				<a class="publication-options-show" data-gui="{{publication._id}}" ng-click="showPublicationOptions = true;">
					<div class="arrow"></div>
				</a>
				<!--<p ng-hide="editingPublicationTitle" ng-click="editingPublicationTitle = true;">-->
				<p ng-hide="editingPublicationTitle">
					<a href="#/project?pid={{publication._id}}">{{publication.name}}</a>
				</p>

				<form ng-show="editingPublicationTitle">
				<p>
					<!--<input type="text" ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" />-->
					<textarea id="rename" ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" on-enter="editingPublicationTitle = false; renamePublication(publication);"></textarea>
				</p>
				</form>

				<div class="publication-options" ng-show="showPublicationOptions">
					<div class="publication-options-header">Publication Options</div>
					<div class="publication-options-hide" ng-click="showPublicationOptions = false;" title="Close Options">x</div>
					<div class="publication-options-menupoint" ng-click="editingPublicationTitle = true; showPublicationOptions = false;">rename</div>
					<div class="publication-options-menupoint" ng-click="copyPublication(publication); showPublicationOptions = false;">copy</div>
					<div class="publication-options-menupoint" ng-click="archivePublication(publication)">archive</div>
					<div class="publication-options-dates" ng-show="publication.created && publication.changed">
						<div>Created Date: </div><div class="dates">{{publication.created | date:'yyyy-MM-dd HH:mm'}}</div>
						<div>Last Changed: </div><div class="dates">{{publication.modified | date:'yyyy-MM-dd HH:mm'}}</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
