<link rel="stylesheet" type="text/css" href="pages/css/shared/default.css" />
<link rel="stylesheet" type="text/css" href="pages/css/pages/project.css" />
<link rel="stylesheet" type="text/css" href="pages/css/shared/fonts.css">

<div class="container">


	<div id="menu-left-tabs" class="menu-left-tabs" ondragstart="return false;" ondrop="return false;">
		<div class="menu-left-tab" ng-class="{ 'shadow' : !showDocuments }" ng-click="showDocuments = !showDocuments; showTypo = false; showInsert = false;">
			<div class="center"></div>
			<img src="pages/images/documents.svg" width="20">
		</div>
		<div class="menu-left-tab" ng-class="{ 'shadow' : !showTypo }" ng-click="showTypo = !showTypo; showDocuments = false; showInsert = false;">
			<div class="center"></div>
			<img src="pages/images/typography.svg" width="20">
		</div>
		<div class="menu-left-tab" ng-class="{ 'shadow' : !showInsert }" ng-click="showInsert = !showInsert; showDocuments = false; showTypo = false;">
			<div class="center"></div>
			<img src="pages/images/insert.svg" width="20">
		</div>
	</div>
	<div id="menu-left" class="menu-left" ng-class="{ 'open' : showDocuments || showTypo || showInsert }">
		<div id="menu-left-content" class="content">
			<div class="menu-item-left" ng-show="showDocuments">
				<div  class="menu-content">
					<div class="projectDocument new" ng-click="addProjectDocument()">
						<p>+</p>
					</div>
					<div html-sortable="sortable_option" ng-model="projectDocuments">
						<div class="projectDocument" ng-repeat="projectDocument in projectDocuments track by projectDocument._id" ng-selected="documentSelected === projectDocument" ng-hide="projectDocument.archived && !user.showArchivedDocuments">
							<a class="projectDocument-options-show" ng-click="showProjectDocumentOptions = true">
								<div class="arrow"></div>
							</a>

							<p ng-hide="editingProjectDocumentTitle">
								<a ng-click="projectDocumentChoosen(projectDocument)">{{projectDocument.name}}</a>
							</p>

							<form ng-show="editingProjectDocumentTitle">
								<p>
									<textarea id="renameProjectDocument" rows="4" ng-model="projectDocument.name" focus-on="!!editingProjectDocumentTitle" on-enter="editingProjectDocumentTitle = false; renameProjectDocument(projectDocument);"></textarea>
								</p>
							</form>

							<div class="projectDocument-options" ng-show="showProjectDocumentOptions">
								<div class="projectDocument-options-hide" ng-click="showProjectDocumentOptions = false;" title="Close Options">x</div>
								<div class="projectDocument-options-menupoint first" ng-click="editingProjectDocumentTitle = true; showProjectDocumentOptions = false;">rename</div>
								<div class="projectDocument-options-menupoint" ng-click="archiveProjectDocument(projectDocument); showProjectDocumentOptions = false;">archive</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-item-left" ng-show="showTypo">
				<div class="menu-content">
					Typography<br><br>
					<a ng-click="changeStyle('bookbw')">bookbw</a><br>
					<a ng-click="changeStyle('futurebw')">futurebw</a><br>
					<a ng-click="changeStyle('pleasantbw')">pleasantbw</a>
				</div>
			</div>
			<div class="menu-item-left" ng-show="showInsert">
				<div class="menu-content">
					Insert
				</div>
			</div>
		</div>
		<div class="documents-options-bottom-buttons" ng-show="showDocuments">
			<a ng-click="showNewOptions = !showNewOptions; showImportOptions = false; showBottomOptions = false;">new</a>
			<a ng-click="showImportOptions = !showImportOptions; showNewOptions = false; showBottomOptions = false;">import</a>
			<a ng-click="showBottomOptions = !showBottomOptions; showNewOptions = false; showImportOptions = false;">options</a>
		</div>
		<div id="menu-left-content-options" class="menu-left-options" ng-show="showDocuments" ng-class="{ 'open' : showNewOptions || showImportOptions || showBottomOptions }">
			<div class="options-bottom-box">
				<div ng-show="showNewOptions">
					<a ng-click="addProjectDocument()">New Document</a><br>
					<a ng-click="">New Folder</a>
				</div>
				<div ng-show="showImportOptions">
					<p>Scripler imports Word files and other common word processor formats (link).</p>
					<input type="file" ng-file-select="onFileSelect($files)">
					<div class="upload-box" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dragover"
						 ng-show="dropSupported" ng-file-drop-available="dropSupported=true">drop files here</div>
				</div>
				<div ng-show="showBottomOptions">
					<input type="checkbox" ng-model="user.showArchivedDocuments" ng-change="updateUser();">Show Archived Documents<br>
					<a ng-click="">Compile</a>
				</div>
			</div>
		</div>
	</div>

	<div class="editor">
		<div id="toolbar-area" class="toolbar-area"></div>
		<textarea ck-editor="" ng-model="documentSelected.content" class="form-control" id="bodyeditor"></textarea>
	</div>

	<div id="menu-right" class="menu-right">
		<div id="menu-right-showhide" class="content-icon">
			<span class="icon icon-reorder"></span>
		</div>
		<div class="content">
			<ul>
				<li class="menu-item open">
					<div class="menu-text"><span class="icon icon-signout"></span>Output</div>
					<div class="menu-content">
					Content
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>
