<link rel="stylesheet" type="text/css" href="pages/css/shared/default.css" />
<link rel="stylesheet" type="text/css" href="pages/css/pages/project.css" />
<link rel="stylesheet" type="text/css" href="pages/css/shared/fonts.css">

<div class="container">

	<div id="menu-left" class="menu-left">
		<div class="content">
			<ul>
				<li class="menu-item-left open">
					<div  class="menu-content">
						<div class="document new" ng-click="addDocument()">
							<p>+</p>
						</div>
						<div class="document" ng-repeat="chapter in chapters" ng-click="chapterChoosen(chapter)">
							<p>{{chapter.name}}</p>
						</div>
					</div>
				</li>
				<li class="menu-item-left closed">
					<div class="menu-content">
						Content<br><br>
						<a ng-click="changeStyle('bookbw')">bookbw</a><br>
						<a ng-click="changeStyle('futurebw')">futurebw</a><br>
						<a ng-click="changeStyle('pleasantbw')">pleasantbw</a>
					</div>
				</li>
				<li class="menu-item-left closed">
					<div class="menu-content">
					Content
					</div>
				</li>
			</ul>
		</div>
		<div class="menu-left-tabs">
			<div id="menu-left-showhide" class="menu-left-tab rotate">
				<p ng-bind="project.name">Documents</p>
			</div>
		</div>
	</div>

	<div class="editor">
	<!--    <textarea data-ng-model="ckContent" data-ck-editor></textarea>-->
		<textarea ck-editor="" ng-model="entrybody" class="form-control" id="bodyeditor" value="{{entrybody}}">
			{{entrybody}}
		</textarea>
	</div>

	<div id="menu-right" class="menu-right">
		<div id="menu-right-showhide" class="content-icon">
			<span class="icon icon-reorder"></span>
		</div>
		<div class="content">
			<ul>
				<li class="menu-item open">
					<div class="menu-text"><span class="icon icon-signout"></span>Output</div>
					<div class="menu-content">
					Content
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>
