<link rel="stylesheet" type="text/css" href="pages/css/pages/create.css" />

<div class="container">
	<div class="main">

		<section class="section-unisquare" data-ng-class="{ 'white-bg' : showSettings}">
			<div data-ng-hide="showSettings">
				<div class="links">
					<a href="http://{{frontpage}}" target="_self" class="frontpage-link">
						<span class="arrow-left"></span><p>Frontpage</p>
					</a>
				</div>
				<div class="logo-box">
					<img class="logo" src="/images/logo.png">
				</div>
				<div class="uni-bottom-box" data-ng-show="user._id">
					<div class="user-box">
						<img class="user-image" src="pages/images/profilepicture.png" height="50" width="50">
						<div class="user-text">
							<div class="user-name" data-ng-bind-html="user.firstname + ' ' + user.lastname"></div>
							<div class="user-links">
								<a data-ng-click="showSettings = !showSettings">Settings</a>
								<span>|</span>
								<a href="/logout">Log out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-settings" data-ng-show="showSettings">
				<div class="user-box">
						<img class="user-image" src="pages/images/profilepicture.png" height="100" width="100">
						<div class="settings-text">
							<div class="user-name settings" data-ng-bind-html="user.firstname"></div>
							<div class="user-name settings" data-ng-bind-html="user.lastname"></div>
						</div>
				</div>
				<hr>
				<div class="user-settings-options">
					<div class="user-email" data-ng-show="!editPassword">
						<form name="emailEditForm">
							<input name="editEmailInput" data-ng-class="{ 'has-error' : emailEditForm.editEmailInput.$invalid && saveSubmitted}" type="email" data-ng-model="user.email" data-ng-pattern="EMAIL_REGEXP" data-ng-disabled="!editEmail" focus-on="editEmail">
							<a data-ng-click="editEmail = !editEmail">Edit</a>
						</form>
					</div>
					<div class="edit-password">
						<a data-ng-click="editPassword = !editPassword" data-ng-show="!editPassword">Edit password</a>
						<form name="editPasswordForm" data-ng-submit="changePassword()" data-ng-show="editPassword" novalidate>
							<input type="password" id="current-password" name="currentPassword" data-ng-model="password" data-ng-class="{ 'has-error' : editPasswordForm.currentPassword.$invalid && passwordSubmitted }" placeholder="Current" data-ng-minlength="6" required>
							<input type="password" id="new-password" name="newPassword" data-ng-model="newPassword" data-ng-class="{ 'has-error' : editPasswordForm.newPassword.$invalid && passwordSubmitted }" placeholder="New" data-ng-minlength="6" required>
							<input type="password" id="new-retype-password" name="newPasswordRetype" data-ng-model="newPasswordRetype" data-ng-class="{ 'has-error' : editPasswordForm.newPasswordRetype.$invalid && passwordSubmitted }" placeholder="Retype New" data-ng-minlength="6" required>
							<button type="submit" class="button">Save Changes</button>
						</form>
					</div>
					<div class="edit-newsletter" data-ng-show="!editPassword">
						<input type="checkbox" data-ng-model="user.newsletter">Receive newsletter
					</div>
					<div class="edit-archived" data-ng-show="!editPassword">
						<input type="checkbox" data-ng-model="user.showArchived">Show Archived
					</div>
					<button data-ng-click="updateUser()" class="button" data-ng-show="!editPassword">Save Changes</button>
				</div>
			</div>
		</section>

		<section class="section-publications">
			<div class="publication new" data-ng-click="addPublication(publication)">
				<p>+</p>
			</div>

			<div class="publication" data-ng-animate="'animate'" data-ng-class="{ 'archived' : publication.archived }" data-ng-hide="publication.archived && !user.showArchived" data-ng-repeat="publication in publications track by $index">
				<a class="publication-options-show" data-ng-click="showPublicationOptions = true">
					<div class="arrow"></div>
				</a>
				<!--<p data-ng-hide="editingPublicationTitle" data-ng-click="editingPublicationTitle = true;">-->
				<p data-ng-hide="editingPublicationTitle">
					<a href="#/project?pid={{publication._id}}" class="publication-link">{{publication.name}}</a>
				</p>

				<form data-ng-show="editingPublicationTitle">
				<p>
					<!--<input type="text" data-ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" />-->
					<textarea id="rename" data-ng-model="publication.name" placeholder="publication title" focus-on="!!editingPublicationTitle" on-enter="editingPublicationTitle = false; renamePublication(publication);"></textarea>
				</p>
				</form>

				<div class="publication-options" data-ng-show="showPublicationOptions">
					<div class="publication-options-header">Publication Options</div>
					<div class="publication-options-hide" data-ng-click="showPublicationOptions = false;" title="Close Options">x</div>
					<div class="publication-options-menupoint" data-ng-click="editingPublicationTitle = true; showPublicationOptions = false;">rename</div>
					<div class="publication-options-menupoint" data-ng-click="copyPublication(publication); showPublicationOptions = false;">copy</div>
					<div class="publication-options-menupoint" data-ng-click="archivePublication(publication); showPublicationOptions = false;">archive</div>
					<div class="publication-options-menupoint" data-ng-click="unarchivePublication(publication); showPublicationOptions = false;">unarchive</div>
					<div class="publication-options-dates" data-ng-show="publication.created && publication.changed">
						<div>Created Date: </div><div class="dates">{{publication.created | date:'yyyy-MM-dd HH:mm'}}</div>
						<div>Last Changed: </div><div class="dates">{{publication.modified | date:'yyyy-MM-dd HH:mm'}}</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
