[submodule "lib/doc-converter/docvert"]
	path = lib/doc-converter/docvert
	url = https://github.com/Scripler/docvert.git
[submodule "public/create/ckeditor"]
	path = public/create/ckeditor
	url = git://github.com/Scripler/ckeditor-scripler.git
