[submodule "lib/doc-converter/docvert"]
	path = lib/doc-converter/docvert
	url = https://github.com/Scripler/docvert.git
[submodule "public/create/ckeditor"]
	path = public/create/ckeditor
	url = https://github.com/Scripler/ckeditor-scripler.git
[submodule "public/reader/epubjs"]
	path = public/reader/epubjs
	url = C:/Users/AllanMørk/Dropbox/GitHub/epub.js
