/* General */
body, html { position: relative; font-size: 100%; padding: 0; margin: 0; }

/* Angular Cloak */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Standard Elements */
button, .btn-primary, .btn-secondary {
	outline: none;
	border: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	margin: 0;
	padding: 6px 10px 7px;
}
.btn-primary {
	background: #fff265;
}
.btn-secondary {
	background: #efefef;
}

/* General Styling */
body {
	background: none #F8F9F9;
	font-family: 'Roboto', Arial, sans-serif;
	color: #666;
}

h1 {
	font-size: 2.25em;
	margin: 0.8em 0 0.4em 0;
}
h2 {
	font-size: 1.25em;
	margin: 0.8em 0 0.4em 0;
}

a {
	color: #000;
	text-decoration: none;
}

a.breadcrumb {
	color: #666;
	text-decoration: underline;
}

p.breadcrumb {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

p.savedstamp {
	margin-top: 10px;
	margin-bottom: 0.5em;
	float: right;
	text-align: right;
}

a:hover {
	color: #666;
}

.main, .container > header {
	width: 100%;
	margin: 0 auto;
	padding: 1em;
}

.container > header {
	padding: 1em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.main > section {
	width: 100%;
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #333;
}

input[type="password"], input[type="text"], input[type="email"] {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: 1px solid #f6f6f6;
	background: #f6f6f6;
	font-size: 15px;
	padding: 6px 8px;
	margin: 0 5px 0 0;
}
input.has-error {
	border-color: #ff0000;
}
input:focus {
	border-color: #ffff99;
	outline: none;
}
textarea {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: none;
	background: #f6f6f6;
	font-size: 15px;
	width: 250px;
	height: 32px;
	padding: 0 0 0 15px;
	margin: 0 5px 0 0;
}

.icon-drop:before,
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.hidden {
	display: none;
}


/*registration styling*/

.registration {
	background-color: #c6c6c6;
	position: fixed;
	width: 100%;
	padding: 20px;
	z-index: 20;
	box-shadow: 0 8px 50px -6px rgba(255,245,108,0.5);
	bottom: 0;
}
.registration.green {
	background-color: #5cb85c;
}

.registration-container {
	width:100%;
	margin:0 auto;
}
.registration-text {
	font-weight: 700;
	margin: 0 0 10px 0;
	min-width: 310px;
}
@media all and (min-width: 1220px) {
	.registration-text {
		float: left;
		margin: 0 10px 0 0;
		padding: 7px 0 0;
	}
}
.registration-form {
	position: relative;
	float: left;
	min-width: 692px;
}
.registration-social {
	float: left;
	margin: 10px 0 0 0;
}
@media all and (min-width: 890px) {
	.registration-social {
		margin: 0 0 0 10px;
	}
}

/*
	TODO: "socialicons" styles COPIED from css/pages/frontpage.css: refactor into common location!
		  If, instead, "socialicons" styles are placed in css/shared/default.css and this CSS is included in create/index.html, the page's style is completely broken.
*/
.socialicon {
	background-color: #fff;
	border-radius: 50%;
	width: 33px;
	height: 33px;
	padding: 3px 0 0 0;
	font-size: 20px;
	text-align:center;
	display: inline-block;
	cursor:pointer;

}
.socialicon:hover {
	background-color: #fff265;
}

.social-registration-text {
	font-weight: 700;
	bottom: 3px;
	display: inline-block;
	position: relative;
	margin-right:5px;
}

.registration-text.validate {
	color: #fff;
	text-align: center;
	margin: 0;
	opacity: 1;
	width: 100%;
	float: none;
}
.registration-button {
	min-width: 100px;
}
.registration-close-button {
	position: absolute;
	right: 10px;
	top: 6px;
	color: #fff;
	font-size: 120%;
	cursor: pointer;
}
.registration-close-button:hover {
	color: #000;
}

.error-box {
	position: absolute;
	background: #ff0000;
	margin: -40px 0 0;
	padding: 5px 10px;
	color: #fff;
}
.error-box.error-box-name {
	margin-left: 30px;
}
.error-box.error-box-email {
	margin-left: 230px;
}
.error-box.error-box-password {
	margin-left: 392px;
}
.error-box:after {
	top: 100%;
	left: 50%;
	border: 6px solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #ff0000;
	margin-left: -3px;
}


/* Styling for the ngProgress */

#ngProgress-container {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}
#ngProgress {
	margin: 0;
	padding: 0;
	z-index: 99998;
	background-color: #fff265;
	color: #fff265;
	box-shadow: 0 0 10px 0; /* Inherits the font color */
	height: 3px;
	opacity: 0;
	/* Add CSS3 styles for transition smoothing */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.feedback{
	background:#c6c6c6;
	width: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: calc(100% / 3);
	cursor: pointer;
	padding: 0;
	text-align: center;
}

.feedback-fixed {
	position:fixed;
	bottom:0;
	right:0;
	min-height: 150px;
}

.feedback img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* Styling for autocomplete */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input {
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  z-index: 5;
}

.autocomplete li {
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active {
  width: 100%;
  background-color: #fff265;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #fff265;
}

.notifications{
	outline: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	background: #fff265;
	color: #231f20;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	width: 250px;
	padding: 5px;
	position:fixed;
	bottom:73px;
	left:50%;
	margin-left: -125px;
}
.loggedin{
	bottom:0;
}
.readmore{
	text-decoration: underline;
	color:#999;
}