<% layout('layout') -%>
<h1>Scripler</h1>
<% if (!user) { %>
	<p>You're not supposed to be here. Visit <a href="http://scripler.com">Scripler</a>.</p>
<% } else { %>
	<p>Hello, <%= user.name %>.</p>
<% } %>