<!DOCTYPE html>
<html>
	<head>
		<title>Scripler</title>
	</head>
	<body>
		<% if (!user) { %>
			<a href="/">Home</a> |
			<a href="/login">Log In</a> |
			<a href="/new-user">Create User</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
            <a href="/login">Add another login</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>