.section-unisquare, .section-projects {
	float: left;
}
.section-unisquare {
	margin: 0 10px 0 0 !important;
	padding: 10px !important;
	width: 300px !important;
	height: 250px !important;
	border: 1px solid #fff;
	background: none #fefefe;
}
.section-projects {
	margin: 0 0 0 10px !important;
	min-height: 340px;
	width: -webkit-calc(100% - 340px) !important;
	width: -o-calc(100% - 340px) !important;
	width: -moz-calc(100% - 340px) !important;
	width: calc(100% - 340px) !important;
}

.project {
	position: relative;
	margin: 0 15px 15px 0;
	width: 95px;
	height: 117px;
	background: none #fefefe;
	float: left;
	border: 1px solid #ffff99;
	display: table;
	box-shadow: 3px 3px 5px 0px #999;
}
.project.new {
	border: 1px dashed #eee;
}

.project p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	cursor: pointer;
}

.project .project-options-show {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.project:hover .project-options-show, .project .project-options-show.active {
	background-color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.project .project-options-show .arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.project input {
	margin-top: 30px !important;
}

.project-options {
	position: absolute;
	top: 20px;
	right: 0;
	background: none #fff;
	width: 250px;
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	border: 1px solid #eee;
}
.project-options-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px 0 10px;
}
.project-options-hide {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.project-options-menupoint {
	cursor: pointer;
	margin: 2px -10px;
	padding: 5px 15px;
	text-transform: capitalize;
}
.project-options-menupoint:hover {
	background: none #ffffcc;
}
.project-options-dates {
	border-top: 1px solid #eee;
	padding: 10px 0 5px;
}
.project-options-dates div {
	font-size: 10px;
	width: 40%;
	float: left;
}
.project-options-dates div.dates {
	color: #ccc;
	font-size: 10px;
	width: 60%;
	text-align: right;
}

.filter-sort, .filter-search {
	position: relative;
}
.filter-sort {

}
.filter-search {

}

.animate-enter, .animate-leave { 
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
}