div.half {
	width: 50%;
	float: left;
}

#scripler, #explore, #features, #pricing, #learn, #about, #contact, #login, #password-reset {
	position: relative;
	margin: 0 auto;
	padding: 30px 20px 20px 20px;
	width: 100%;
	overflow: hidden;

	background-image: -webkit-radial-gradient(center center, circle contain, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%); /* WebKit */
	background-image: -moz-radial-gradient(center center, circle contain, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%); /* Firefox */
	background-image: -ms-radial-gradient(center center, circle contain, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%); /* IE10+ */
	background-image: -o-radial-gradient(center center, circle contain, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%); /* Opera */
	background-image: radial-gradient(center center, circle contain, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
}
#scripler {

}
#features {
	background-color: #215660;
	color: #fff56c;
}
#features article.overflow {
	overflow: visible;
}
#about {
	background-color: #fff56c;
	white-space: nowrap;
}
#contact {
	padding: 0;
}
#map-canvas {
	margin: 0;
	padding: 0;
}
#login {
	background-color: #c6c6c6;
	padding-top: 0;
	padding-bottom: 0;
}

#scripler article, #explore article, #features article, #pricing article, #learn article {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 50px 0 0 0;
	overflow: hidden;
}
#about article {
	position: relative;
	width: 99%;
	margin: 0 auto;
	padding: 50px 0 0 0;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	padding-left: 150px;
}
#about article .inner {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#about article .inner span {
	display: block;
	padding-bottom: 40px;
}
#about article .inner .column {
	float: left;
	width: 33%;
	padding: 0 20px;
}
#about article h2 {
	font-size: 150%;
	padding-bottom: 10px;
}
#about article .inner span.reduced-padding {
	padding-bottom: 20px;
}
#contact article {
	background-color: #fff;
	border: 1px solid rgba(102,102,102,0.5);
	position: absolute;
	top: 78px;
	left: 120px;
	padding: 0 20px 20px;
	width: 500px;
}
#login article {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding: 0;
	padding-top: 5px;
	overflow: hidden;
}
.menu-top {
	margin-top: 0px;
	font-size: 110%;
}
.menu-top li.menu-blog {
	margin: 0;
	background-color: #000;
	float: right;
	padding: 15px 25px 14px 25px;
}
.blog-link {
	color: #fff56c;
}
.blog-link:hover {
	color: #fff;
}
.email-text {
	text-decoration: underline;
	font-weight: 900;
}
.about-text {
	font-size: 130%;
	width: 50%;
	padding-bottom: 40px;
}
.create_logo, .create_subtitle, .create_subtext {
	text-align: center;
}
.create_subtitle {
	padding-bottom: 20px;
	font-size: 150%;
}
.create_subtext {
	padding-bottom: 20px;
	font-size: 120%;
	line-height: 1.4;
}
.create_logo {
	padding: 50px 0 30px;
}

#login-extras {
	font-size: 70%;
	float: left;
}

#login-extras > div {
	width: 135px;
}

#login-extras > div:first-child {
    margin-left: 5px;
}
#login-extras label {
	position: relative;
	top: -3px;
}

.socialicons {
	text-align: center;
	margin-top: -38px;
	float: right;
}
.socialicon {
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 10px;
	font-size: 22px;
	margin: 0 auto;
	display: inline-block;
}
.socialicon:hover {
	background-color: #fff265;
}
.socialicon a {
	color: #ABACAF;
}

.row {
	height: 160px;
	margin-left: -40px;
}
.hexagon-icon {
	width: 140px;
	float: left;
}
.hexagon-icon.right {
	float: right;
}
.hexagon-info {
	padding-top: 20px;
	width: 340px;
	float: left;
}
.hexagon-info.right {
	float: right;
}
.hexagon-title {
	font-weight: 900;
	padding-bottom: 5px;
	font-size: 120%;
}
.hexagon-text {
	color: #fff;
}

.create_form {
	margin: 0 0 20px 0;
}
.login-wrap {
	text-align: center;
}

.mc-field-group {
	margin: 20px 0 0;
	text-align: center;
}

.login-group {
	height: 35px;
}

.login-group > input {
	width: 250px;
	float: left;
}

.email, .password {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: none;
	background: #f6f6f6;
	font-size: 15px;
	width: 300px;
	height: 32px;
	padding: 0 0 0 15px;
	margin: 0 5px 0 0;
	color: #818285;
	font-family: 'Roboto', sans-serif;
}
.button {
	outline: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-appearance: none;
	border: none;
	background: #fff265;
	color: #231f20;
	font-size: 20px;
	font-weight: bold;
	width: 135px;
	height: 33px;
	cursor: pointer;
	margin: 0 0 0 5px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.button.login {
	width: 120px;
	font-size: 15px;
}
.try-button {
	width: 300px;
	height: 50px;
}
.try-wrapper {
	text-align: center;
	padding-top: 20px;
}
.response {
	width: 450px;
	margin: 20px auto 0;
}

.prev, .next {
	position: fixed;
	top: 200px;
	z-index: 10;
	cursor: pointer;
}
.prev {
	width: 600px;
	right: 50%;
	text-align: left;
}
.next{
	width: 600px;
	left: 50%;
	text-align: right;
}

/* Password Reset */
#password-reset-form {
    padding: 0;
    margin: 0;
}
#password-reset-button {
    width: 180px;
    font-size: 15px;
}

#form-success {
    margin: 0 0 0 100px;
    line-height: 1em;
    height: 33px;
    width: 500px;
    text-align: left;
}

.error-boxes {
    position: fixed;
    margin-left: 25px;
    margin-top: 45px;
}
.arrow-box {
    position: fixed;
    background: #FF0500;
    border: 2px solid #fff;
    padding-top: 5px;
    height: 32px;
    width: 200px;
    color: #fff;
}

.arrow-box:after, .arrow-box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-box:after {
    border-color: rgba(213, 0, 0, 0);
    border-bottom-color: #FF0500;
    border-width: 10px;
    margin-left: -10px;
}
.arrow-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 13px;
    margin-left: -13px;
}