@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ryeo5j');
	src:url('../fonts/icomoon.eot?#iefix-ryeo5j') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-ryeo5j') format('truetype'),
		url('../fonts/icomoon.woff?-ryeo5j') format('woff'),
		url('../fonts/icomoon.svg?-ryeo5j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
