/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/


/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:3em;
	line-height: 1.33;
	color:#CD7400;
	margin:1em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:2.4em;
	line-height: 1.35;
	color:#CD7400;
	margin:1em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:2em;
	line-height: 1.37;
	color:#CD7400;
	margin:1em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:1.7em;
	line-height: 1.39;
	color:#CD7400;
	margin:1em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:1.5em;
	line-height: 1.41;
	color:#CD7400;
	margin:1em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:1.3em;
	line-height: 1.45;
	color:#CD7400;
	margin:1em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.50;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	/*quotes: "\00BB" "\00AB" "\203A" "\2039";*/
	font-family: "Junicode", serif;
	font-style: italic;
	font-weight: 700;
	text-align: left;
	font-size:1.4em;
	line-height: 1.43;
	color:#CD7400;

	
	
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/

	margin:1.5em 20% 1.5em 20%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	/*quotes: "\00BB" "\00AB" "\203A" "\2039";*/
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#000000;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #000000; text-decoration:underline; }
a:visited { color: #000000; text-decoration:underline; }

a:hover { color: #CD7400; text-decoration:underline; }
a:active { color: #CD7400; text-decoration:underline; }


/*Name: Code block*/
code.block {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	text-indent:0;
	color:#CD7400;
	background:#000000;
	margin:1.5em 20% 0 20%;
	padding:0 1em;
	display:block;
}

/*Name: Code*/
code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	text-indent:0;
	color:#CD7400;
	background:#000000;
}


/*Name: Caption*/
figcaption {
	font-family: "Junicode", serif;
	font-style:italic;
	font-weight:400;
	font-size:0.9em;
	line-height: 1.59;
	color:#000000;
	margin:1em 10% 0 10%;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	line-height: 1.54;
	font-style:italic;
	font-weight:400;
	color:#000000;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-size:3em;
	line-height: 1.33;
	font-style:normal;
	font-weight: 900;
	
	color:#CD7400;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item-h1 {
	font-size:1.2em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 700;
	color:#CD7400;
	text-transform: uppercase;
}

.toc-item-h2 {
	font-size:1.2em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 700;
	color:#CD7400;
	text-indent: 0.5em;
}

.toc-item-h3 {
	font-size:1.2em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 400;
	color:#CD7400;
	text-indent: 1em;
}

.toc-item-h4 {
	font-size:1em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 400;
	color:#CD7400;
	text-indent: 2em;
}

.toc-item-h5 {
	font-size:1em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 400;
	color:#CD7400;
	text-indent: 3em;
}

.toc-item-h6 {
	font-size:1em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 400;
	color:#CD7400;
	text-indent: 4em;
}

/*Name: Colophon*/
.colophon {
	font-size:.9em;
	line-height:1.59;
	text-indent:0;
	text-align:right;
}



/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.50;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
ul {
	list-style:disc;
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.50;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 80%;
	margin: 0 10% 0 10%;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/
th {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:700;
	font-size:1.1em;
	line-height: 1.50;
	color:#ffffff;
	background-color: #CD7400;
	border: 3px solid #CD7400;
	padding: .5em;
}


td {
	font-family: "Junicode", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.50;
	color:#000000;
	background-color: #ffffff;
	border: 3px solid #CD7400;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}