/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*COURIER PRIME*/

@font-face {
	font-family:"Courier Prime";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/courierprime.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/courierprimeitalic.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/courierprimebold.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/courierprimebolditalic.ttf");
}

/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:3.5em;
	line-height:1.35;
	color:#2E2E8A;
	margin:2em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:3em;
	line-height:1.38;
	color:#2E2E8A;
	margin:2em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:2.4em;
	line-height:1.44;
	color:#2E2E8A;
	margin:2em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:2em;
	line-height:1.45;
	color:#2E2E8A;
	margin:2em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:1.6em;
	line-height:1.53;
	color:#2E2E8A;
	margin:2em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:1.2em;
	line-height:1.56;
	color:#2E2E8A;
	margin:2em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.5;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	quotes: "\203A" "\2039" "\2018" "\2019";
	font-family: "Courier Prime", Courier, monospace;
	font-style: italic;
	font-weight: 700;
	text-align: left;
	font-size:1.4em;
	line-height:1.42;
	color:#2E2E8A;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
	margin:1.5em 30% 1.5em 10%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	quotes: "\203A" "\2039" "\2018" "\2019";
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#2E2E8A;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #2E2E8A; text-decoration:underline; }
a:visited { color: #2E2E8A; text-decoration:underline; }
a:hover { color: #2E2E8A; text-decoration:underline; }
a:active { color: #2E2E8A; text-decoration:underline; }


/*Name: Code*/
.code {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#2E2E8A;
	margin:1.5em 40% 0 0;
	padding:1em;
}


/*Name: Caption*/
figcaption {
	font-family: "Courier Prime", Courier, monospace;
	font-style:italic;
	font-weight:400;
	font-size:0.7em;
	line-height:1.64;
	color:#000000;
	margin:1em 20% 0 0;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	font-style:italic;
	font-weight:400;
	line-height: 1.3;
	color:#2E2E8A;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-size:3em;
	font-style:normal;
	font-weight: 700;
	line-height: 1.5;
	color:#2E2E8A;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size: 1.2em;
	font-style:normal;
	font-weight: 700;
	line-height:1.42;
	color:#000000;
}

/*Name: Colophon*/
.colophon {
	font-size:.9em;
	text-indent:0;
	text-align:right;
}

/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.56;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
ul {
	list-style:square;
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.56;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 80%;
	margin:0 20% 0 0;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/


th {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:700;
	font-size:1.1em;
	line-height: 1.56;
	color:#ffffff;
	background-color: #2E2E8A;
	border: 3px solid #2E2E8A;
	padding: .5em;
}

td {
	font-family: "Courier Prime", Courier, monospace;
	font-style:normal;
	font-weight:400;
	font-size:1.1em;
	line-height: 1.56;
	color:#2E2E8A;
	background-color: #ffffff;
	border: 3px solid #2E2E8A;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 20% 0 0;
/*Already in figure:
	page-break-inside:avoid;*/
}