/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*SOURCE CODE PRO*/







/*CRIMSON*/







/*AUTOUR ONE*/


/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;	
	font-size:4em;
	line-height: 1.32;
	color:#606060;
	margin:1em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;
	font-size:3.5em;
	line-height: 1.33;
	color:#606060;
	margin:1em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;
	font-size:2.5em;
	line-height: 1.35;
	color:#606060;
	margin:1em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;
	font-size:2em;
	line-height: 1.37;
	color:#606060;
	margin:1em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;
	font-size:1.6em;
	line-height: 1.40;
	color:#606060;
	margin:1em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Autour One", sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: right;
	text-transform: uppercase;
	font-size:1.3em;
	line-height: 1.45;
	color:#606060;
	margin:1em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Crimson", serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#606060;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	/*quotes: "\201C" "\201D" "\2018" "\2019";*/
	font-family: "Autour One", sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: right;
	font-size:1.4em;
	line-height: 1.43;
	color:#ffffff;
	background:#606060;
	padding:1em;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
	margin:1.5em 0 1.5em 40%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	/*quotes: "\201C" "\201D" "\2018" "\2019";*/
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#000000;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #000000; text-decoration:underline; }
a:visited { color: #000000; text-decoration:underline; }

a:hover { color: #000000; text-decoration:none; }
a:active { color: #000000; text-decoration:none; }


/*Name: Code block*/
.code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#000000;
	margin:1.5em 0 0 40%;
	padding: 0 1em;
}

/*Name: Code*/
code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;

	text-indent:0;
	color:#ffffff;
	background:#000000;
}


/*Name: Caption*/
figcaption {
	font-family: "Crimson", serif;
	font-style:italic;
	font-weight:400;
	font-size:0.8em;
	line-height: 1.67;
	color:#606060;
	margin:1em 0 0 20%;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	line-height: 1.54;
	font-style:italic;
	font-weight:400;
	color:#000000;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-family: "Autour One", sans-serif;
	font-size:2.5em;
	line-height: 1.35;
	font-style:normal;
	font-weight: 400;
	text-transform: uppercase;
	
	color:#000000;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size:1.2em;
	line-height: 1.47;
	text-align: right;
	font-style:normal;
	font-weight: 600;
	color:#000000;
}

/*Name: Colophon*/
.colophon {
	font-size:.9em;
	line-height:1.59;
	text-indent:0;
	text-align:right;
}

/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Crimson", serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#606060;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

ul {
	list-style:disc;
	font-family: "Crimson", serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#606060;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 80%;
	margin: 0 0 0 20%;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/

th {
	font-family: "Crimson", serif;
	font-style:normal;
	font-weight:600;
	font-size:1em;
	line-height: 1.54;
	color:#000000;
	border: 2px solid #000000;
	padding: .5em;
}

td {
	font-family: "Crimson", serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#606060;
	border: 2px solid #606060;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 0 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}