		a:link { color: #85BB65; text-decoration:none; } 
		a:visited { color: #85BB65; text-decoration:none; } 
		a:hover { color: #000000; text-decoration:underline; } 
		a:active { color: #ffffff; text-decoration:none; } 

		@font-face {
		font-family: sourcecodeproregular;
		src: local(sourcecodeproregular), url('fonte/sourcecodeproregular.otf') format('opentype');
		}

		@font-face {
		font-family: sourcecodeprosemibold;
		src: local(sourcecodeprosemibold), url('fonte/sourcecodeprosemibold.otf') format('opentype');
		}

		@font-face {
		font-family: sourcecodeprobold;
		src: local(sourcecodeprobold), url('fonte/sourcecodeprobold.otf') format('opentype');
		}

		@font-face {
		font-family: sourcecodeprolight;
		src: local(sourcecodeprolight), url('fonte/sourcecodeprolight.otf') format('opentype');
		}

		@font-face {
		font-family: sourcecodeproblack;
		src: local(sourcecodeproblack), url('fonte/sourcecodeproblack.otf') format('opentype');
		}

		@font-face {
		font-family: opensansregular;
		src: local(opensansregular), url('fonte/opensansregular.ttf') format('truetype');
		}

		@font-face {
		font-family: opensansitalic;
		src: local(opensansitalic), url('fonte/opensansitalic.ttf') format('truetype');
		}

		@font-face {
		font-family: opensanssemibold;
		src: local(opensanssemibold), url('fonte/opensanssemibold.ttf') format('truetype');
		}

		@font-face {
		font-family: opensanssemibolditalic;
		src: local(opensanssemibolditalic), url('fonte/opensanssemibolditalic.ttf') format('truetype');
		}		

		h1 {
		font-family: sourcecodeproblack;
		font-size:4em;
		text-align: center;
		color:#000000;
		margin:2em 0em 1.5em 0em;
		padding:0em;
		}

		h2 {
		font-family: sourcecodeprobold;
		font-size:2.5em;
		text-align: center;
		color:#85BB65;
		margin:2em 0em 1.5em 0em;
		padding:0em;
		}
		
		h3 {
		font-family: sourcecodeprobold;
		font-size:2em;
		text-align: center;
		color:#85BB65;
		margin:2em 0em 1.5em 0em;
		padding:0em;
		}
		
		h4 {
		font-family: sourcecodeprosemibold;
		font-size:1.6em;
		text-align: center;
		color:#85BB65;
		margin:2em 0em 1.5em 0em;
		padding:0em;
		}
		
		h5 {
		font-family: sourcecodeprosemibold;
		font-size:1.4em;
		text-align: center;
		color:#85BB65;
		margin:2em 0em 1.5em 0em;
		padding:0em;
		}
		
		p {
		font-family: opensansregular;
		font-size:1em;
		hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		margin:0em;
		padding:0em;
		}
		
		p+p {
		text-indent: 2em
		}

		.speech {
		font-family: opensansitalic;
		font-size:1em;
		}

		blockquote {
		font-family: sourcecodeprolight;
		font-size:1.2em;
		text-align: center;
		color:#85BB65;
		display:block;
		padding:0.5em;
		margin:2em 5.5em 1.5em 5.5em;
		}		

		.caption {
		font-family: opensansregular;
		font-size:0.7em;
		text-align: center;
		margin:0em 0em 1.5em 0em;
		display:block;
		}

		code {
		font-family: sourcecodeprobold;
		font-size:1em;
		background-color:#000000;
		color:#ffffff;
		display:block;
		margin:2em 0em 1.5em 0em;
		padding:1em;
		}
		
		img {
		display:block;
		border-style:solid;
		border-color:#85BB65;
		margin-top:2em;
		margin-bottom:0.3em;
		margin-left:auto;
		margin-right:auto;
		}

		body {
		width:600px;
		padding:20px;
		}