/*
  NON-EDITABLE CSS
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	margin:0.5em;
/*Margin is added to body to avoid text being directly on the edge of ebook-readers taking css seriously (which is increasingly few - I'm looking at you apple). But just a litte, to preserve screen estate in most usage scenarios. But it might conflict with e.g. wanting to define a backgroundcolor edge to edge ...*/
}

q:before { 
	content: open-quote;
 }
q:after  { 
content: close-quote;
}

blockquote:before { 
content: open-quote;
 }
blockquote:after  { 
content: close-quote;
}

blockquote p {
	margin:0;
}

/*HEADING BEHAVIOUR - Makes Several lines of headings look nice.*/

h1 + h1 {
	margin:0;
}

h2 + h2 {
	margin:0;
}

h3 + h3 {
	margin:0;
}

h4 + h4 {
	margin:0;
}

h5 + h5 {
	margin:0;
}

h6 + h6 {
	margin:0;
}

strong {
	font-weight: 700;
}

em {

	font-style: italic;
}

figure {
	margin: 1.5em 0 0 0;
	page-break-inside:avoid;
}
/*Epub2-fallback css*/
/*div.figure {
	margin: 1em 0em;
	page-break-inside:avoid;
}*/

/*Scripler-logo-css, part of the Insert Title-page html-chunk*/
.logo {
	width:26%;
	height:auto;
	page-break-inside: avoid;
	margin: 0 37% 0 37%;
}

/*PARAGRAPH RULES*/

/*This makes first line indents on paragraphs that follows paragraphs. And removes the margin-top.*/
p + p {
	text-indent: 1.5em;
	margin: 0;
}

/*This removes first line indent from paragraphs that comes after empty paragraphs*/
p.empty-paragraph + p {
	text-indent: 0em;
}

/*When empty paragraphs are added, the should not have margin-top, since they are themselves acting as a sort of margin-top with their emptyness. The line-height is then specified to have the same height as the same removed margin-top.*/
p.empty-paragraph {
	line-height:1.5em;
	margin-top:0;
}

p.toc + p.toc {
	text-indent:0;
}

/*/*This removes margin-top from code-paragraphs that comes after code-paragraphs*/
.code + .code {
	margin-top:0;
}

.right {
	text-align:right;
}
