/*
  NON-EDITABLE CSS
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	margin:0.5em;
/*Margin is added to body to avoid text being directly on the edge of ebook-readers taking css seriously (which is increasingly few - I'm looking at you apple). But just a litte, to preserve screen estate in most usage scenarios. But it might conflict with e.g. wanting to define a backgroundcolor edge to edge ...*/
}

/*CSS controlled quote glyphs are disabled for the time being since it does not play nice with the editor*/
/*q:before { 
	content: open-quote;
 }
q:after  { 
content: close-quote;
}

blockquote:before { 
content: open-quote;
 }
blockquote:after  { 
content: close-quote;
}*/

blockquote p {
	margin:0;
}

/*HEADING BEHAVIOUR - Makes Several lines of headings look nice.*/

h1 + h1 {
	margin:0;
}

h2 + h2 {
	margin:0;
}

h3 + h3 {
	margin:0;
}

h4 + h4 {
	margin:0;
}

h5 + h5 {
	margin:0;
}

h6 + h6 {
	margin:0;
}

h1 + p {
	margin-top:0;
}

h2 + p {
	margin-top:0;
}

h3 + p {
	margin-top:0;
}

h5 + p {
	margin-top:0;
}

h6 + p {
	margin-top:0;
}



strong {
	font-weight: 700;
}

em {

	font-style: italic;
}

figure {
	margin: 1.5em 0 0 0;
	page-break-inside:avoid;
}
/*Epub2-fallback css*/
/*div.figure {
	margin: 1em 0;
	page-break-inside:avoid;
}*/

/*Scripler-logo-css, part of the Insert Title-page html-chunk*/
.logo {
	width:26%;
	height:auto;
	page-break-inside: avoid;
	margin: 0 37% 0 37%;
	outline: none;
}

/*Cover image css*/
.cover {
	width: 100%;
	margin:0;
	height: auto;
	page-break-inside:avoid;
}

body.cover {
	margin:0;
}

/*PARAGRAPH RULES*/

/*This makes first line indents on paragraphs that follows paragraphs. And removes the margin-top.*/
p + p {
	text-indent: 1.5em;
	margin: 0;
}

/*This removes first line indent from paragraphs that comes after empty paragraphs*/
p.empty-paragraph + p {
	text-indent: 0;
}

/*When empty paragraphs are added, the should not have margin-top, since they are themselves acting as a sort of margin-top with their emptyness. The line-height is then specified to have the same height as the same removed margin-top.*/
p.empty-paragraph {
	line-height:1.5em;
	margin-top:0;
}

p.toc-item-h1 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h1 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h1 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h1 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h1 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h1 + p.toc-item-h6 {
	text-indent:4em;
}

p.toc-item-h2 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h2 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h2 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h2 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h2 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h2 + p.toc-item-h6 {
	text-indent:4em;
}

p.toc-item-h3 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h3 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h3 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h3 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h3 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h3 + p.toc-item-h6 {
	text-indent:4em;
}

p.toc-item-h4 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h4 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h4 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h4 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h4 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h4 + p.toc-item-h6 {
	text-indent:4em;
}

p.toc-item-h5 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h5 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h5 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h5 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h5 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h5 + p.toc-item-h6 {
	text-indent:4em;
}

p.toc-item-h6 + p.toc-item-h1 {
	text-indent:0;
}

p.toc-item-h6 + p.toc-item-h2 {
	text-indent:0.5em;
}

p.toc-item-h6 + p.toc-item-h3 {
	text-indent:1em;
}

p.toc-item-h6 + p.toc-item-h4 {
	text-indent:2em;
}

p.toc-item-h6 + p.toc-item-h5 {
	text-indent:3em;
}

p.toc-item-h6 + p.toc-item-h6 {
	text-indent:4em;
}


/*/*This removes margin-top from code-paragraphs that comes after code-paragraphs*/
code.block + code.block {
	margin-top:0;
}

.right {
	text-align:right;
}

/*---------- F O N T S ----------*/

/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*ALEO*/

@font-face {
	font-family: "Aleo";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/aleolight.otf");
}

@font-face {
	font-family: "Aleo";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/aleolightitalic.otf");
}

@font-face {
	font-family: "Aleo";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/aleoregular.otf");
}

@font-face {
	font-family: "Aleo";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/aleoitalic.otf");
}

@font-face {
	font-family: "Aleo";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/aleobold.otf");
}

@font-face {
	font-family: "Aleo";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/aleobolditalic.otf");
}

/*ARSENAL*/

@font-face {
	font-family:"Arsenal";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/arsenalregular.otf");
}

@font-face {
	font-family: "Arsenal";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/arsenalitalic.otf");
}

@font-face {
	font-family: "Arsenal";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/arsenalbold.otf");
}

@font-face {
	font-family: "Arsenal";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/arsenalbolditalic.otf");
}

/*AUTOUR ONE*/

@font-face {
	font-family: "Autour One";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/autouroneregular.ttf");
}

/*BOB*/

@font-face {
	font-family: "Bob";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/boblight.otf");
}

@font-face {
	font-family: "Bob";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/bobbold.otf");
}

/*CHARIS*/

@font-face {
	font-family:"Charis";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/charisregular.ttf");
}

@font-face {
	font-family: "Charis";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/charisitalic.ttf");
}

@font-face {
	font-family: "Charis";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/charisbold.ttf");
}

@font-face {
	font-family: "Charis";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/charisbolditalic.ttf");
}

/*CHUNK*/

@font-face {
	font-family: "Chunk";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/chunk.otf");
}

/*CMU BRIGHT*/

@font-face {
	font-family:"CMU Bright";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmubrightroman.otf");
}

@font-face {
	font-family: "CMU Bright";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmubrightoblique.otf");
}

@font-face {
	font-family: "CMU Bright";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/cmubrightsemibold.otf");
}

@font-face {
	font-family: "CMU Bright";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/cmubrightsemiboldoblique.otf");
}

@font-face {
	font-family: "CMU Bright";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmubrightboldex.otf");
}

@font-face {
	font-family: "CMU Bright";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmubrightboldexoblique.otf");
}

/*CMU CONCRETE*/

@font-face {
	font-family:"CMU Concrete";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmuconcreteroman.otf");
}

@font-face {
	font-family: "CMU Concrete";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmuconcreteitalic.otf");
}

@font-face {
	font-family: "CMU Concrete";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmuconcreteboldex.otf");
}

@font-face {
	font-family: "CMU Concrete";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmuconcreteboldexitalic.otf");
}

/*CMU SANS SERIF*/

@font-face {
	font-family:"CMU Sans Serif";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmusansserifroman.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmusansserifoblique.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmusansserifboldex.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmusansserifboldexoblique.otf");
}

/*CMU SERIF*/

@font-face {
	font-family:"CMU Serif";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmuserifroman.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmuserifitalic.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmuserifboldex.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmuserifboldexitalic.otf");
}

/*CMU TYPEWRITER*/

@font-face {
	font-family:"CMU Typewriter";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/cmuttlight.otf");
}

@font-face {
	font-family: "CMU Typewriter";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/cmuttlightoblique.otf");
}

@font-face {
	font-family:"CMU Typewriter";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmuttregular.otf");
}

@font-face {
	font-family: "CMU Typewriter";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmuttoblique.otf");
}

@font-face {
	font-family: "CMU Typewriter";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmuttbold.otf");
}

@font-face {
	font-family: "CMU Typewriter";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmuttbolditalic.otf");
}

/*COURIER PRIME*/

@font-face {
	font-family:"Courier Prime";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/courierprime.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/courierprimeitalic.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/courierprimebold.ttf");
}

@font-face {
	font-family: "Courier Prime";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/courierprimebolditalic.ttf");
}

/*CRIMSON TEXT*/

@font-face {
	font-family:"Crimson";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/crimsonregular.ttf");
}

@font-face {
	font-family: "Crimson";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/crimsonitalic.ttf");
}

@font-face {
	font-family: "Crimson";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/crimsonsemibold.ttf");
}

@font-face {
	font-family: "Crimson";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/crimsonsemibolditalic.ttf");
}

@font-face {
	font-family: "Crimson";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/crimsonbold.ttf");
}

@font-face {
	font-family: "Crimson";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/crimsonbolditalic.ttf");
}

/*DEJA-VU SANS*/

@font-face {
	font-family: "Deja Vu Sans";
	font-style:normal;
	font-weight:200;
	src : url("Fonts/dejavusansextralight.ttf");
}

@font-face {
	font-family: "Deja Vu Sans";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/dejavusansregular.ttf");
}

@font-face {
	font-family: "Deja Vu Sans";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/dejavusansitalic.ttf");
}

@font-face {
	font-family: "Deja Vu Sans";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/dejavusansbold.ttf");
}

@font-face {
	font-family: "Deja Vu Sans";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/dejavusansbolditalic.ttf");
}

/*DEJA-VU SANS CONDENSED*/

@font-face {
	font-family: "Deja Vu Sans Condensed";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/dejavusanscondensed.ttf");
}

@font-face {
	font-family: "Deja Vu Sans Condensed";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/dejavusanscondenseditalic.ttf");
}

@font-face {
	font-family: "Deja Vu Sans Condensed";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/dejavusanscondensedbold.ttf");
}

@font-face {
	font-family: "Deja Vu Sans Condensed";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/dejavusanscondensedbolditalic.ttf");
}

/*DEJA-VU MONO*/

@font-face {
	font-family: "Deja Vu Mono";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/dejavusansmono.ttf");
}

@font-face {
	font-family: "Deja Vu Mono";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/dejavusansmonoitalic.ttf");
}

@font-face {
	font-family: "Deja Vu Mono";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/dejavusansmonobold.ttf");
}

@font-face {
	font-family: "Deja Vu Mono";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/dejavusansmonobolditalic.ttf");
}

/*DEJA-VU SERIF*/

@font-face {
	font-family: "Deja Vu Serif";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/dejavuserifregular.ttf");
}

@font-face {
	font-family: "Deja Vu Serif";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/dejavuserifitalic.ttf");
}

@font-face {
	font-family: "Deja Vu Serif";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/dejavuserifbold.ttf");
}

@font-face {
	font-family: "Deja Vu Serif";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/dejavuserifbolditalic.ttf");
}

/*DEJA-VU SERIF CONDENSED*/

@font-face {
	font-family: "Deja Vu Serif Condensed";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/dejavuserifcondensed.ttf");
}

@font-face {
	font-family: "Deja Vu Serif Condensed";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/dejavuserifcondenseditalic.ttf");
}

@font-face {
	font-family: "Deja Vu Serif Condensed";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/dejavuserifcondensedbold.ttf");
}

@font-face {
	font-family: "Deja Vu Serif Condensed";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/dejavuserifcondensedbolditalic.ttf");
}

/*GABRIELA*/

@font-face {
	font-family:"Gabriela";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/gabrielaregular.ttf");
}

/*JUNICODE*/

@font-face {
	font-family:"Junicode";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/junicode.ttf");
}

@font-face {
	font-family: "Junicode";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/junicodeitalic.ttf");
}

@font-face {
	font-family: "Junicode";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/junicodebold.ttf");
}

@font-face {
	font-family: "Junicode";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/junicodebolditalic.ttf");
}

/*KELSON*/

@font-face {
	font-family:"Kelson";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/kelsonsanslight.otf");
}

@font-face {
	font-family: "Kelson";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/kelsonsansregular.otf");
}

@font-face {
	font-family: "Kelson";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/kelsonsansbold.otf");
}

/*KREON*/

@font-face {
	font-family:"Kreon";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/kreonlight.ttf");
}

@font-face {
	font-family: "Kreon";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/kreonregular.ttf");
}

@font-face {
	font-family: "Kreon";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/kreonbold.ttf");
}

/*LEAGUE GOTHIC*/

@font-face {
	font-family:"League Gothic";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/leaguegothicregular.otf");
}

@font-face {
	font-family: "League Gothic";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/leaguegothicitalic.otf");
}

/*LINUX BIOLINUM*/

@font-face {
	font-family:"Linux Biolinum";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/linbiolinumr.otf");
}

@font-face {
	font-family: "Linux Biolinum";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/linbiolinumri.otf");
}

@font-face {
	font-family: "Linux Biolinum";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/linbiolinumrb.otf");
}

/*MERRIWEATHER*/

@font-face {
	font-family:"Merriweather";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/merriweathersanslight.otf");
}

@font-face {
	font-family: "Merriweather";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/merriweathersansregular.otf");
}

@font-face {
	font-family: "Merriweather";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/merriweathersansbold.otf");
}

@font-face {
	font-family: "Merriweather";
	font-style:normal;
	font-weight:800;
	src : url("Fonts/merriweathersansextrabold.otf");
}

/*NOBILE*/

@font-face {
	font-family:"Nobile";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/nobile.ttf");
}

@font-face {
	font-family: "Nobile";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/nobileitalic.ttf");
}

@font-face {
	font-family: "Nobile";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/nobilebold.ttf");
}

@font-face {
	font-family: "Nobile";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/nobilebolditalic.ttf");
}

/*OPEN SANS*/

@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/opensanslight.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/opensanslightitalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/opensansregular.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/opensansitalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/opensanssemibold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/opensanssemibolditalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/opensansbold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/opensansbolditalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:800;
	src : url("Fonts/opensansextrabold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:800;
	src : url("Fonts/opensansextrabolditalic.ttf");
}

/*PRIME*/

@font-face {
	font-family:"Prime";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/primelight.otf");
}

@font-face {
	font-family:"Prime";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/primeregular.otf");
}

/*QUICKSAND*/

@font-face {
	font-family:"Quicksand";
	font-style:normal;
	font-weight:200;
	src : url("Fonts/quicksanddash.otf");
}

@font-face {
	font-family:"Quicksand";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/quicksandlight.otf");
}

@font-face {
	font-family: "Quicksand";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/quicksandlightitalic.otf");
}

@font-face {
	font-family:"Quicksand";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/quicksandbook.otf");
}

@font-face {
	font-family: "Quicksand";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/quicksandbookitalic.otf");
}

@font-face {
	font-family: "Quicksand";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/quicksandbold.otf");
}

@font-face {
	font-family: "Quicksand";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/quicksandbolditalic.otf");
}

/*RALEWAY*/

@font-face {
	font-family: "Raleway";
	font-style:normal;
	font-weight:100;
	src : url("Fonts/ralewaythin.otf");
}

/*RAMBLA*/

@font-face {
	font-family: "Rambla";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/ramblaregular.ttf");
}

@font-face {
	font-family: "Rambla";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/ramblaitalic.ttf");
}

@font-face {
	font-family: "Rambla";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/ramblabold.ttf");
}

@font-face {
	font-family: "Rambla";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/ramblabolditalic.ttf");
}

/*ROBOTO*/

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:100;
	src : url("Fonts/robotothin.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:100;
	src : url("Fonts/robotothinitalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/robotolight.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/robotolightitalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/robotoregular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/robotoitalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/robotomedium.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/robotomediumitalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/robotobold.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/robotobolditalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:normal;
	font-weight:900;
	src : url("Fonts/robotoblack.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style:italic;
	font-weight:900;
	src : url("Fonts/robotoblackitalic.ttf");
}

/*ROBOTO CONDENSED*/

@font-face {
	font-family: "Roboto Condensed";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/robotocondensed.ttf");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/robotocondenseditalic.ttf");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/robotoboldcondensed.ttf");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/robotoboldcondenseditalic.ttf");
}

/*SIGNIKA*/

@font-face {
	font-family:"Signika";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/signikalight.ttf");
}

@font-face {
	font-family:"Signika";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/signikaregular.ttf");
}

@font-face {
	font-family:"Signika";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/signikasemibold.ttf");
}

@font-face {
	font-family:"Signika";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/signikabold.ttf");
}

/*SOURCE CODE PRO*/

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:200;
	src : url("Fonts/sourcecodeproextralight.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/sourcecodeprolight.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/sourcecodeproregular.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/sourcecodeprosemibold.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/sourcecodeprobold.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:900;
	src : url("Fonts/sourcecodeproblack.otf");
}

/*SOURCE SANS PRO*/

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:200;
	src : url("Fonts/sourcesansproextralight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:200;
	src : url("Fonts/sourcesansproextralightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/sourcesansprolight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/sourcesansprolightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/sourcesansproregular.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/sourcesansproitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/sourcesansprosemibold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/sourcesansprosemibolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/sourcesansprobold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/sourcesansprobolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:900;
	src : url("Fonts/sourcesansproblack.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:900;
	src : url("Fonts/sourcesansproblackitalic.otf");
}

/*UBUNTU*/

@font-face {
	font-family:"Ubuntu";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/ubuntulight.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/ubuntulightitalic.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/ubunturegular.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/ubunturegularitalic.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/ubuntumedium.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/ubuntumediumitalic.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/ubuntubold.ttf");
}

@font-face {
	font-family:"Ubuntu";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/ubuntubolditalic.ttf");
}

/*UBUNTU MONO*/

@font-face {
	font-family:"Ubuntu Mono";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/ubuntumonoregular.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/ubuntumonoregularitalic.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/ubuntumonobold.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/ubuntumonobolditalic.ttf");
}

/*VIDALOKA*/

@font-face {
	font-family:"Vidaloka";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/vidalokaregular.ttf");
}

/*VOLTAIRE*/

@font-face {
	font-family:"Voltaire";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/voltaireregular.ttf");
}
