/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*OPEN SANS*/











/*DEJA-VU SANS MONO*/





/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:3.5em;
	line-height:1.35;
	color:#000000;
	margin:1em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:2.6em;
	line-height:1.38;
	color:#FF0600;
	margin:1em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:2.2em;
	line-height:1.44;
	color:#FF0600;
	margin:1em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:1.8em;
	line-height:1.45;
	color:#FF0600;
	margin:1em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:1.6em;
	line-height:1.53;
	color:#FF0600;
	margin:1em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	text-transform: uppercase;
	font-size:1.3em;
	line-height:1.56;
	color:#FF0600;
	margin:1em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	quotes: "\00BB" "\00AB" "\203A" "\2039";
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-weight: 800;
	text-align: left;
	font-size:1.3em;
	line-height:1.42;
	color:#FF0600;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
/*Here margin-top is defined as 1.2em instead of 1.5em - it is an approximation of <p> 1em (or rem)*/
	margin:1.5em 15% 1.5em 15%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	quotes: "\00BB" "\00AB" "\203A" "\2039";
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#FF0600;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #FF0600; text-decoration:underline; }
a:visited { color: #FF0600; text-decoration:underline; }
a:hover { color: #FF0600; text-decoration:underline; }
a:active { color: #FF0600; text-decoration:none; }


/*Name: Code*/
.code {
	font-family: "Deja Vu Mono", monospace;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#000000;
	margin:1.5em 15% 0em 15%;
	padding:1em;
}


/*Name: Caption*/
figcaption {
	font-family: "Open Sans", sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:0.8em;
	line-height:1.64;
	color:#000000;
	margin:1em 30% 0 0;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	line-height: 1.3;
	font-style:italic;
	font-weight:400;
	color:#FF0600;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-size:2.5em;
	font-style:normal;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5;
	color:#FF0600;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size: 1.1em;
	font-style:normal;
	font-weight: 700;
	line-height:1.42;
	color:#FF0600;
}

/*Name: Colophon*/
.colophon {
	font-size:0.8em;
	text-indent:0;
	text-align:right;
}

/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

ul {
	list-style:disc;
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 70%;
	margin: 0 30% 0 0;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/


th {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	line-height: 1.56;
	color:#ffffff;
	background-color: #FF0600;
	border: 3px solid #FF0600;
	padding: .5em;
}


td {
	font-family: "Open Sans", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	background-color: #ffffff;
	border: 3px solid #FF0600;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}