/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*GABRIELA*/

@font-face {
	font-family:"Gabriela";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/gabrielaregular.ttf");
}

/*SOURCE SANS PRO*/

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:200;
	src : url("Fonts/sourcesansproextralight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:200;
	src : url("Fonts/sourcesansproextralightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:300;
	src : url("Fonts/sourcesansprolight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:300;
	src : url("Fonts/sourcesansprolightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/sourcesansproregular.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/sourcesansproitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:600;
	src : url("Fonts/sourcesansprosemibold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:600;
	src : url("Fonts/sourcesansprosemibolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/sourcesansprobold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/sourcesansprobolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:900;
	src : url("Fonts/sourcesansproblack.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:900;
	src : url("Fonts/sourcesansproblackitalic.otf");
}

/*UBUNTU MONO*/

@font-face {
	font-family:"Ubuntu Mono";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/ubuntumonoregular.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/ubuntumonoregularitalic.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/ubuntumonobold.ttf");
}

@font-face {
	font-family:"Ubuntu Mono";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/ubuntumonobolditalic.ttf");
}

/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:3em;
	line-height:1.35;
	color:#1A0C96;
	margin:1em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:2.3em;
	line-height:1.38;
	color:#1A0C96;
	margin:1em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:2em;
	line-height:1.44;
	color:#1A0C96;
	margin:1em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.6em;
	line-height:1.45;
	color:#1A0C96;
	margin:1em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.4em;
	line-height:1.53;
	color:#1A0C96;
	margin:1em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Gabriela", serif;
	font-style:normal;
	font-weight:400;
	font-size:1.2em;
	line-height:1.56;
	color:#1A0C96;
	margin:1em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	quotes: "\00BB" "\00AB" "\203A" "\2039";
	font-family: "Source Sans Pro", sans-serif;
	font-style: italic;
	font-weight: 700;
	text-align: left;
	font-size:1.3em;
	line-height:1.42;
	color:#1A0C96;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
	margin:1.5em 20% 1.5em 10%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	quotes: "\00BB" "\00AB" "\203A" "\2039";
	font-style:italic;
	font-weight: 600;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#1A0C96;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #1A0C96; text-decoration:underline; }
a:visited { color: #1A0C96; text-decoration:underline; }
a:hover { color: #1A0C96; text-decoration:underline; }
a:active { color: #ffffff; text-decoration:none; }


/*Name: Code*/
.code {
	font-family: "Ubuntu Mono", monospace;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	text-indent:0;
	color:#33CCFF;
	background:#000000;
	margin:1.5em 20% 0em 10%;
	padding:1em;
}

/*Name: Caption*/
figcaption {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:0.8em;
	line-height:1.64;
	color:#000000;
	margin:1em 20% 0 10%;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	font-style:italic;
	font-weight:400;
	line-height: 1.3;
	color:#33CCFF;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-family: "Gabriela", serif;
	font-size:3em;
	font-style:normal;
	font-weight: 400;
	line-height: 1.5;
	color:#1A0C96;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size: 1.2em;
	font-style:normal;
	font-weight: 600;
	line-height:1.42;
	color:#000000;
}

/*Name: Colophon*/
.colophon {
	font-size:.9em;
	text-indent:0;
	text-align:right;
}

/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
ul {
	list-style:disc;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 50%;
	margin: 0 20% 0 10%;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/

th {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1em;
	line-height: 1.56;
	color:#ffffff;
	background-color: #1A0C96;
	border: 2px solid #33CCFF;
	padding: .5em;
}

td {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#ffffff;
	background-color: #1A0C96;
	border: 2px solid #33CCFF;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}
