/*EDITABLE CSS*/

/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:900;
	font-size:4em;
	line-height: 1.32;
	color:#0000ff;
	margin:1em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:900;
	font-size:3em;
	line-height: 1.33;
	color:#000000;
	margin:1em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:2.4em;
	line-height: 1.35;
	color:#000000;
	margin:1em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:2em;
	line-height: 1.37;
	color:#000000;
	margin:1em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1.6em;
	line-height: 1.40;
	color:#000000;
	margin:1em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1.4em;
	line-height: 1.43;
	color:#000000;
	margin:1em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	/*quotes: "\201C" "\201D" "\2018" "\2019";*/
	font-family: "Source Sans Pro", sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: left;
	font-size:1.3em;
	line-height: 1.45;
	color:#000000;

	border:3px solid #0000ff;
	padding:1em;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
	margin:1.5em 10% 1.5em 10%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	/*quotes: "\201C" "\201D" "\2018" "\2019";*/
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#0000ff;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #0000ff; text-decoration:underline; }
a:visited { color: #0000ff; text-decoration:underline; }
a:hover { color: #0000ff; text-decoration:none; }
a:active { color: #0000ff; text-decoration:none; }


/*Name: Code block*/
p.code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#000000;
	margin:1.5em 10% 0em 10%;
	padding:0 1em;
}

/*Name: Code*/
code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#000000;
}


/*Name: Caption*/
figcaption {
	font-family: "Source Sans Pro", sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:0.8em;
	line-height: 1.67;
	color:#000000;
	margin:1em 10% 0 10%;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	line-height: 1.54;
	font-style:italic;
	font-weight:400;
	color:#000000;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-size:3em;
	line-height: 1.33;
	font-style:normal;
	font-weight: 900;
	
	color:#0000ff;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size:1.2em;
	line-height: 1.47;
	font-style:normal;
	font-weight: 600;
	color:#000000;

}

/*Name: Colophon*/
.colophon {
	font-size:.8em;
	line-height:1.59;
	text-indent:0;
	text-align:right;
}



/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
ul {
	list-style:square;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#000000;
	margin: 1.5em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 80%;
	margin: 0 10% 0 10%;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/


th {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	line-height: 1.54;
	color:#ffffff;
	background-color: #0000ff;
	border: 3px solid #0000ff;
	padding: .5em;
}


td {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.54;
	color:#000000;
	background-color: #ffffff;
	border: 3px solid #0000ff;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}