/*EDITABLE CSS*/

/*FONTS*/
/*font-family should always be named with the full name of the font, to avoid confusion. Weight is given like this:
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black*/

/*SOURCE SANS PRO*/

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:200;
	src : url("/Fonts/sourcesansproextralight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:200;
	src : url("/Fonts/sourcesansproextralightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:300;
	src : url("/Fonts/sourcesansprolight.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:300;
	src : url("/Fonts/sourcesansprolightitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:400;
	src : url("/Fonts/sourcesansproregular.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:400;
	src : url("/Fonts/sourcesansproitalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:600;
	src : url("/Fonts/sourcesansprosemibold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:600;
	src : url("/Fonts/sourcesansprosemibolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:700;
	src : url("/Fonts/sourcesansprobold.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:700;
	src : url("/Fonts/sourcesansprobolditalic.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:normal;
	font-weight:900;
	src : url("/Fonts/sourcesansproblack.otf");
}

@font-face {
	font-family:"Source Sans Pro";
	font-style:italic;
	font-weight:900;
	src : url("/Fonts/sourcesansproblackitalic.otf");
}

/*SOURCE CODE PRO*/

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:200;
	src : url("/Fonts/sourcecodeproextralight.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:300;
	src : url("/Fonts/sourcecodeprolight.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:400;
	src : url("/Fonts/sourcecodeproregular.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:600;
	src : url("/Fonts/sourcecodeprosemibold.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:700;
	src : url("/Fonts/sourcecodeprobold.otf");
}

@font-face {
	font-family:"Source Code Pro";
	font-style:normal;
	font-weight:900;
	src : url("/Fonts/sourcecodeproblack.otf");
}

/*STYLES*/
/*Name: Heading 1*/
h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:900;
	font-size:4em;
	line-height:1.35;
	color:#0000ff;
	margin:1.5em 0 0 0;
}

/*Name: Heading 2*/
h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:900;
	font-size:3em;
	line-height:1.38;
	color:#000000;
	margin:1.5em 0 0 0;
}

/*Name: Heading 3*/
h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:2.4em;
	line-height:1.44;
	color:#000000;
	margin:1.5em 0 0 0;
}

/*Name: Heading 4*/
h4 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:2em;
	line-height:1.45;
	color:#000000;
	margin:1.5em 0 0 0;
}

/*Name: Heading 5*/
h5 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1.6em;
	line-height:1.53;
	color:#000000;
	margin:1.5em 0 0 0;
}

/*Name: Heading 6*/
h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1.4em;
	line-height:1.56;
	color:#000000;
	margin:1.5em 0 0 0;
}


/*Name: Body text*/
p {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Name: Quote*/
blockquote {
	quotes: "\201C" "\201D" "\2018" "\2019";
	font-family: "Source Sans Pro", sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: left;
	font-size:1.3em;
	line-height:1.42;
	color:#000000;

	border:3px solid #0000ff;
	padding:1em;
/*Margin-left and right is defined in %, as it then becomes relative to width, which is important for responsive design to e.g. mobile phones.*/
	margin:1.5em 20% 1.5em 20%;
	page-break-inside:avoid;
}

/*Name: Speech*/
q { 
	quotes: "\201C" "\201D" "\2018" "\2019";
	font-style:italic;
}


/*Name: Hyperlink*/
a {
	text-decoration:underline;
	color:#0000ff;
	line-height:inherit;
	font-weight:inherit;
}

a:link { color: #0000ff; text-decoration:underline; }
a:visited { color: #0000ff; text-decoration:underline; }
a:hover { color: #0000ff; text-decoration:none; }
a:active { color: #0000ff; text-decoration:none; }


/*Name: Code*/
.code {
	font-family: "Source Code Pro", monospace;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	text-indent:0;
	color:#ffffff;
	background:#000000;
	margin:1.5em 20% 0 20%;
	padding:1em;
}


/*Name: Caption*/
figcaption {
	font-family: "Source Sans Pro", sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:0.8em;
	line-height:1.64;
	color:#000000;
	margin:1em 15% 0 15%;
}
/*Epub2-fallback css*/
/*p.figcaption {
	font-family: "Source Sans Pro", arial, sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:.9em;
	line-height:1.64;
	margin:.3em 0 0 0;
}*/

/*Name: Author*/
.titlepageAuthor {
	font-size:1em;
	font-style:italic;
	font-weight:400;
	line-height: 1.3;
	color:#000000;
	text-align:center;
	text-indent:0;
}

/*Name: Title*/
.titlepageTitle {
	font-size:3em;
	font-style:normal;
	font-weight: 900;
	line-height: 1.5;
	color:#0000ff;
	text-align:center;
	text-indent:0;
}

/*Name: Table of content*/
.toc-item {
	font-size: 1.2em;
	font-style:normal;
	font-weight: 600;
	line-height:1.42;
	color:#000000;

}

/*Name: Colophon*/
.colophon {
	font-size:.8em;
	text-indent:0;
	text-align:right;
}



/*INSERT ELEMENTS*/

/*Insert: List*/
ol {
	list-style:decimal;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
ul {
	list-style:square;
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	margin: 1em 0 0 0;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/*Insert: Image*/
img {
	width: 70%;
	margin: 0 15% 0 15%;
	height: auto;
	page-break-inside:avoid;
}

/*Insert: Table*/


th {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	line-height: 1.56;
	color:#ffffff;
	background-color: #0000ff;
	border: 3px solid #0000ff;
	padding: .5em;
}


td {
	font-family: "Source Sans Pro", sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1em;
	line-height: 1.56;
	color:#000000;
	background-color: #ffffff;
	border: 3px solid #0000ff;
	padding: .5em;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto 0 auto;
/*Already in figure:
	page-break-inside:avoid;*/
}